Repository vapo643/SimHBSftwerdv: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

Address user login and proposal loading errors
  attached_assets/Pasted--rest-express-1-0-0-dev-Database-Configuring-Supabase-connection-Database-Connection-c-1755706698579_1755706698580.txt
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1755706673500_1755706673503.txt
Due: none

Fix user profile access by directly querying the database
  attached_assets/Pasted-requests-js-1-GET-https-874e2dce-5057-49ae-8fb5-21491c9977ba-00-1xresvzm7is3g-janeway-replit-dev--1755706921195_1755706921196.txt
  docs/bugs-solved/authentication/2025-01-20-critical-auth-failure-empty-profiles-table.md
  server/lib/jwt-auth-middleware.ts
Due: eslint --fix --quiet, prettier --write

Restore critical authentication system functionality
  replit.md
  server/lib/jwt-auth-middleware.ts
Due: eslint --fix --quiet, prettier --write

Diagnose why crucial business data is missing from the system
  RELATORIO_DIAGNOSTICO_FALHAS_DADOS_AUSENTES_V1.0.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Auditoria-de-Emerg-ncia-Dados-Ausentes-Sum-ri-1755708022325_1755708022330.txt
Due: prettier --write

Verify that restored business data displays correctly across the application
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Verifica-o-de-Ponta-a-Ponta-do-Fluxo-de-Dados--1755708490802_1755708490805.txt
Due: none

Allow all user roles to upload and manage documents
  client/src/components/propostas/DocumentsStep.tsx
Due: eslint --fix --quiet, prettier --write

Make proposal data validation flexible
  shared/schema.ts
Due: eslint --fix --quiet, prettier --write

Remove CPF and email validation to resolve input issues
  client/src/components/propostas/ClientDataStep.tsx
  package-lock.json
  package.json
  server/services/clickSignServiceV3.ts
Due: eslint --fix --quiet, prettier --write

Diagnose why searching for clients by CPF is not working correctly
  PAM_V1.0_AUDITORIA_FORENSE_BUSCA_CPF.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Auditoria-do-Fluxo-de-Busca-por-CPF-Sum-rio-da--1755710059258_1755710059260.txt
Due: prettier --write

Enable auto-filling client data using their CPF for faster proposal creation
  PAM_V1.0_BUSCA_CPF_IMPLEMENTADA.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Implementa-o-de-Busca-de-Cliente-por-CPF-Sum-r-1755710363444_1755710363445.txt
  server/routes/cliente-routes.ts
Due: eslint --fix --quiet, prettier --write

Implement and test client search by CPF with enhanced data validation
  PAM_V1.0_BUSCA_CPF_IMPLEMENTADA.md
  PAM_V1.0_TESTE_INTEGRACAO_BUSCA_CPF.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Teste-de-Integra-o-da-API-de-Busca-por-CPF-Sum-1755710625324_1755710625326.txt
  server/routes/cliente-routes.ts
  tests/integration/cliente.test.ts
Due: eslint --fix --quiet, prettier --write

Update API to return 404 for non-existent clients and validate UI
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Corre-o-de-API-e-Valida-o-de-UI-Sum-rio-da-Mi-1755711227773_1755711227775.txt
  server/routes/cliente-routes.ts
Due: eslint --fix --quiet, prettier --write

Saved your changes before starting work
  .replit
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Auditoria-de-Estado-Atual-Fluxo-de-TAC-e-Produtos--1755711687632_1755711687634.txt
  server/db.ts
Due: eslint --fix --quiet, prettier --write

Restored to 'f37642bc28e936d714fe11ecf02127ad80d16b4f'
  .replit
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Auditoria-de-Estado-Atual-Fluxo-de-TAC-e-Produtos--1755711687632_1755711687634.txt
  server/db.ts
Due: eslint --fix --quiet, prettier --write

Document database persistence rules and analyze product TAC logic
  PAM_V1.1_AUDITORIA_ESTADO_ATUAL_TAC_PRODUTOS.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-1-Auditoria-de-Estado-Atual-Fluxo-de-TAC-e-Produtos--1755712252190_1755712252192.txt
  replit.md
  shared/schema/security.ts
Due: eslint --fix --quiet, prettier --write

Refine document generation by implementing dynamic tax calculations and exemptions
  attached_assets/Pasted-Roadmap-Proposto-Miss-o-Isen-o-de-TAC-e-Gest-o-de-Produtos-V1-Este-plano-de-batalha-projetado--1755712731907_1755712731915.txt
Due: none

Create a foundational service for calculating loan fees and customer status
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Criar-a-estrutura-b-1755712921073_1755712921075.txt
  server/services/tacCalculationService.ts
Due: eslint --fix --quiet, prettier --write

Update product schemas to include new tax value and type validation
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Atualizar-os-schemas-1755713155313_1755713155315.txt
  shared/schema.ts
Due: eslint --fix --quiet, prettier --write

Implement TAC calculation logic and customer registration check
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Implementar-a-l-gica-1755713356517_1755713356521.txt
  server/services/tacCalculationService.ts
Due: eslint --fix --quiet, prettier --write

Integrate dynamic TAC calculation into proposal creation process
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Integrar-o-TacCalcu-1755713555688_1755713555690.txt
  server/routes/propostas/core.ts
  server/services/tacCalculationService.ts
Due: eslint --fix --quiet, prettier --write

Update legacy products with a default TAC configuration value
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Criar-e-executar-um--1755713835310_1755713835312.txt
  scripts/check-products-tac.ts
  scripts/migrate-legacy-products-tac.ts
Due: eslint --fix --quiet, prettier --write

Add fields for TAC value and type to product configuration
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Adicionar-os-campos--1755714042912_1755714042913.txt
  client/src/components/produtos/ProdutoForm.tsx
  client/src/pages/configuracoes/produtos.tsx
Due: eslint --fix --quiet, prettier --write

Add configuration options for product tax rates
  PAM_V1.0_API_PRODUTOS_TAC_IMPLEMENTADA.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Modificar-os-endpoin-1755714491829_1755714491831.txt
  server/controllers/produtoController.ts
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Add comprehensive unit tests for TAC calculation service
  PAM_V1.0_TESTES_AUTOMATIZADOS_IMPLEMENTADO.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Criar-uma-su-te-de-t-1755715067233_1755715067238.txt
  tests/services/tacCalculationService.test.ts
Due: eslint --fix --quiet, prettier --write

Add robust integration tests for credit opening fee calculations
  PAM_V1.0_TESTES_TAC_INTEGRATION_COMPLETO.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Criar-uma-su-te-de-t-1755715435402_1755715435404.txt
  tests/integration/propostas-tac-simplified.test.ts
  tests/integration/propostas-tac-working.test.ts
  tests/integration/propostas-tac.test.ts
Due: eslint --fix --quiet, prettier --write

Fix integration test environment errors by updating Vitest configuration
  PAM_V1.0_REMEDIACAO_AMBIENTE_TESTES_SUCESSO.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Remedia-o-do-Ambiente-de-Testes-de-Integra-o--1755716246677_1755716246681.txt
  tests/integration/propostas-tac-supertest.test.ts
  vitest.config.ts
Due: eslint --fix --quiet, prettier --write

Add authenticated integration tests and improve test user creation
  .replit
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-1-Re-Execu-o-Sum-rio-da-Miss-o-O-Qu-Criar--1755716761666_1755716761682.txt
  replit.md
  server/lib/supabase.ts
  tests/helpers/auth-helper.ts
  tests/integration/propostas-tac-authenticated.test.ts
  tests/lib/db-helper.ts
Due: eslint --fix --quiet, prettier --write

Create security audit report for frontend code vulnerabilities
  .replit
  AUDITORIA_SEGURANCA_FRONTEND_V1.0.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Auditoria-de-Seguran-a-de-Conte-do-Sum-rio-da-M-1755719437946_1755719437968.txt
Due: prettier --write

Extract inline script to improve security and code organization
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Extra-o-de-Script-Inline-Sum-rio-da-Miss-o-O--1755720127023_1755720127025.txt
  client/index.html
  client/src/scripts/custom-elements-protection.js
Due: eslint --fix --quiet, prettier --write

Add secure script loading to protect custom elements
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Carregamento-Seguro-de-Script-Sum-rio-da-Miss-o-1755720329984_1755720329985.txt
  client/index.html
Due: none

Fix error preventing proposals from loading by ensuring custom elements load correctly
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1755720562557_1755720562560.txt
  client/index.html
  client/src/scripts/custom-elements-protection.js
Due: eslint --fix --quiet, prettier --write

Prevent errors when defining custom elements on the page
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1755721039153_1755721039159.txt
  client/src/scripts/custom-elements-protection.js
Due: eslint --fix --quiet, prettier --write

Validate script loading to confirm security remediation is active
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Valida-o-Funcional-de-Carregamento-de-Script-S-1755721289154_1755721289160.txt
Due: none

Migrate custom element protection script for improved security and performance
  RELATORIO_VALIDACAO_SCRIPT_V1.0.md
  attached_assets/Pasted--DOCTYPE-html-html-lang-en-head-script-type-module-import-createHotContext--1755721588738_1755721588742.txt
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1755721607174_1755721607174.txt
  client/index.html
  public/scripts/custom-elements-protection.js
  replit.md
Due: eslint --fix --quiet, prettier --write

Identify security vulnerability in chart component due to unsafe data handling
  PAM_V1.0_AUDITORIA_DANGEROUSSLYSETINNERHTML.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Auditoria-de-dangerouslySetInnerHTML-Sum-rio--1755721931717_1755721931722.txt
  replit.md
Due: prettier --write

Remove unused chart component and eliminate security vulnerability
  PAM_V1.0_NEUTRALIZACAO_AMEACA_LATENTE_COMPLETA.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Neutraliza-o-de-Amea-a-Latente-Sum-rio-da-Miss-1755722267026_1755722267029.txt
  client/src/components/ui/chart.tsx
  replit.md
Due: eslint --fix --quiet, prettier --write

Conduct a forensic audit to pinpoint data loss issues
  PAM_V1.0_AUDITORIA_FORENSE_PERDA_DADOS_COMPLETA.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Auditoria-Forense-de-Perda-de-Dados-Sum-rio-da--1755723310334_1755723310337.txt
  replit.md
Due: prettier --write

Add safety guard to prevent database cleanup in production
  PAM_V1.0_GUARDA_SEGURANCA_IMPLEMENTADA.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Implementa-o-de-Guarda-de-Seguran-a-Sum-rio-da-1755724335168_1755724335196.txt
  replit.md
  tests/lib/db-helper.ts
Due: eslint --fix --quiet, prettier --write

Add runtime validation to prevent test execution against production databases
  PAM_V1.0_TESTES_RUNTIME_VALIDATION_IMPLEMENTADO.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Implementa-o-de-Valida-o-de-Runtime-nos-Testes--1755724725120_1755724725121.txt
  replit.md
  tests/integration/cliente.test.ts
  tests/integration/pre-approval.test.ts
  tests/integration/propostas-tac-authenticated.test.ts
  tests/integration/propostas-tac-simplified.test.ts
  tests/integration/propostas-tac-supertest.test.ts
  tests/integration/propostas-tac-working.test.ts
  tests/integration/propostas-tac.test.ts
  tests/integration/status-system.test.ts
Due: eslint --fix --quiet, prettier --write

Path conditions:
  eslint --fix --quiet: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
