Repository vapo643/SimHBSftwerdv: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --quiet",
    "prettier --write"
  ],
  "*.{json,css,md}": [
    "prettier --write"
  ]
}

Restored to 'be6d6093e1edb095a7871463194c45d6b77aa7a8'
  attached_assets/Pasted--PROTOCOLO-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-1-Princ-pio-Mestre-Transfer-ncia-de-C-1756841819025_1756841819027.txt
Due: none

Identify and document all destructive database commands and scripts
  attached_assets/Pasted--PROTOCOLO-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-1-Princ-pio-Mestre-Transfer-ncia-de-C-1756842609151_1756842609152.txt
  attached_assets/Pasted-Roadmap-Mestre-Opera-o-Guardi-o-do-Cofre-V1-0-Objetivo-Identificar-e-erradicar-todos-os-vetores-d-1756842602099_1756842602113.txt
  docs/diagnostics/VETORES_DE_ATAQUE_DB.md
Due: prettier --write

Fix critical database deletion vulnerability by improving environment variable handling
  attached_assets/Pasted--PROTOCOLO-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-1-Princ-pio-Mestre-Transfer-ncia-de-C-1756842991135_1756842991138.txt
  docs/diagnostics/CAUSA_RAIZ_DELECAO_DB.md
Due: prettier --write

Add robust security protocols to protect the production database environment
  attached_assets/Pasted--PROTOCOLO-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-1-Princ-pio-Mestre-Transfer-ncia-de-C-1756843705888_1756843705890.txt
  docs/missions/PROTOCOLO_BLINDAGEM_AMBIENTE.md
Due: prettier --write

Implement robust database security protocol to prevent accidental data deletion
  attached_assets/Pasted--PROTOCOLO-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-1-Princ-pio-Mestre-Transfer-ncia-de-C-1756844168259_1756844168262.txt
  docs/bugs-solved/database/2025-02-09-clean-test-database-code-corruption.md
  docs/missions/PROTOCOLO_BLINDAGEM_AMBIENTE.md
  replit.md
  scripts/confirm-destructive.sh
  scripts/db-push-safe.sh
  tests/lib/db-helper-backup.ts
  tests/lib/db-helper-temp.ts
Due: eslint --fix --quiet, prettier --write

Update user management to support multiple store associations for managers
  docs/bugs-solved/schema/2025-09-02-profiles-loja-ids-schema-mismatch.md
  server/repositories/user.repository.ts
  server/services/userService-refactored.ts
Due: eslint --fix --quiet, prettier --write

Fix user creation error by refreshing Supabase client schema cache
  server/repositories/user.repository.ts
Due: eslint --fix --quiet, prettier --write

Enable the next step button to be clickable only when the current step is valid
  client/src/pages/nova-proposta.tsx
Due: eslint --fix --quiet, prettier --write

Add detailed debugging logs to the proposal creation form
  client/src/pages/propostas/nova.tsx
Due: eslint --fix --quiet, prettier --write

Enable the next button after client data is fully entered
  client/src/components/propostas/ClientDataStep.tsx
  client/src/contexts/ProposalContext.tsx
Due: eslint --fix --quiet, prettier --write

Allow users to proceed to the next step without required fields
  client/src/components/propostas/ClientDataStep.tsx
  client/src/contexts/ProposalContext.tsx
  client/src/pages/propostas/nova.tsx
Due: eslint --fix --quiet, prettier --write

Add option to automatically submit proposals for analysis upon creation
  client/src/pages/propostas/nova.tsx
  server/modules/proposal/application/CreateProposalUseCase.ts
  server/modules/proposal/presentation/proposalController.ts
Due: eslint --fix --quiet, prettier --write

Resolve issue with automatic proposal data population
  attached_assets/Pasted--PROTOCOLO-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-ATIVA-O-DE-PROTOCOLOS-MANDAT-RIOS-DO--1756859166672_1756859166673.txt
  docs/diagnostics/AUDITORIA_PREENCHIMENTO_AUTOMATICO_CPF.md
Due: prettier --write

Improve user experience by replacing native confirm dialogs with custom modals
  attached_assets/Pasted--PROTOCOLO-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-ATIVA-O-DE-PROTOCOLOS-MANDAT-RIOS-DO--1756859674508_1756859674509.txt
  docs/missions/BLUEPRINT_MODAL_PREENCHIMENTO_CPF.md
Due: prettier --write

Enhance client data entry with a confirmation modal
  attached_assets/Pasted--PROTOCOLO-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-ATIVA-O-DE-PROTOCOLOS-MANDAT-RIOS-DO--1756860327076_1756860327077.txt
  client/src/components/propostas/ClientDataStep.tsx
Due: eslint --fix --quiet, prettier --write

Improve client data population to include all fields
  client/src/components/propostas/ClientDataStep.tsx
Due: eslint --fix --quiet, prettier --write

Update client data mapping to correctly use API fields
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1756861031227_1756861031228.txt
  client/src/components/propostas/ClientDataStep.tsx
Due: eslint --fix --quiet, prettier --write

Improve client data handling by adding more professional and personal information fields
  client/src/components/propostas/ClientDataStep.tsx
Due: eslint --fix --quiet, prettier --write

Improve client data mapping for accurate proposal retrieval
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1756861596015_1756861596016.txt
  client/src/components/propostas/ClientDataStep.tsx
Due: eslint --fix --quiet, prettier --write

Add missing client data fields and auto-fill personal references
  client/src/components/propostas/ClientDataStep.tsx
  client/src/components/propostas/PersonalReferencesStep.tsx
Due: eslint --fix --quiet, prettier --write

Update client data fields to use real data and remove mock data
  client/src/components/propostas/ClientDataStep.tsx
  client/src/components/propostas/PersonalReferencesStep.tsx
Due: eslint --fix --quiet, prettier --write

Add and update fields for new proposal data and improve database saving
  client/src/components/propostas/ClientDataStep.tsx
  server/modules/proposal/application/CreateProposalUseCase.ts
  shared/schema.ts
Due: eslint --fix --quiet, prettier --write

Add ability to retrieve client data by CPF number
  server/routes/cliente-routes.ts
Due: eslint --fix --quiet, prettier --write

Temporarily disable client admission date tracking to address an issue
  attached_assets/Pasted-64-x64-AppleWebKit-537-36-KHTML-like-Gecko-Chrome-139-0-0-0-Safari-537-36-referrer-https--1756863217386_1756863217388.txt
  shared/schema.ts
Due: eslint --fix --quiet, prettier --write

Prevent duplicate API calls when navigating between loan steps
  client/src/components/propostas/ClientDataStep.tsx
Due: eslint --fix --quiet, prettier --write

Update port configurations and add mission activation protocol documentation
  .replit
  attached_assets/Pasted--PROTOCOLO-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-ATIVA-O-DE-PROTOCOLOS-MANDAT-RIOS-DO--1756863790200_1756863790201.txt
Due: none

Update port configurations and add detailed documentation for TAC calculation audit
  .replit
  attached_assets/Pasted--PROTOCOLO-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-ATIVA-O-DE-PROTOCOLOS-MANDAT-RIOS-DO--1756864318596_1756864318597.txt
  docs/diagnostics/AUDITORIA_FLUXO_CALCULO_TAC.md
Due: prettier --write

Refine loan origination by updating tax calculation logic
  attached_assets/Pasted--PROTOCOLO-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-ATIVA-O-DE-PROTOCOLOS-MANDAT-RIOS-DO--1756864721967_1756864721967.txt
  docs/missions/BLUEPRINT_MOTOR_CALCULO_TAC.md
Due: prettier --write

Update loan proposal to use new TAC calculation logic
  attached_assets/Pasted--PROTOCOLO-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-ATIVA-O-DE-PROTOCOLOS-MANDAT-RIOS-DO--1756865295436_1756865295437.txt
  server/modules/proposal/application/CreateProposalUseCase.ts
  server/services/tacCalculationService.ts
Due: eslint --fix --quiet, prettier --write

Add ability to enable or disable TAC for products in management
  .replit
  client/src/pages/configuracoes/produtos.tsx
  server/db.ts
  shared/schema.ts
Due: eslint --fix --quiet, prettier --write

Saved your changes before rolling back
  .replit
Due: none

Restored to '2f7b4db5d47d47c530f88ee63ffae19e640c9e5d'
  client/src/pages/configuracoes/produtos.tsx
  server/db.ts
  shared/schema.ts
Due: eslint --fix --quiet, prettier --write

Add option to disable TAC for existing clients in product configuration
  .replit
  client/src/components/produtos/ProdutoForm.tsx
  client/src/pages/configuracoes/produtos.tsx
  server/controllers/produtoController.ts
  server/routes.ts
  server/services/tacCalculationService.ts
  shared/schema.ts
Due: eslint --fix --quiet, prettier --write

Introduce product form component for creating and editing loan products
  client/src/pages/configuracoes/produtos.tsx
Due: eslint --fix --quiet, prettier --write

Improve proposal analysis by adding partner and store information
  attached_assets/Pasted--PROTOCOLO-DE-ATIVA-O-DE-MISS-O-PAM-V2-5-ID-da-Miss-o-MIS-VC-1-1-Roadmap-1756867401515_1756867401516.txt
  server/modules/proposal/infrastructure/ProposalRepository.ts
  server/modules/proposal/presentation/proposalController.ts
  server/routes/propostas/core.ts
Due: eslint --fix --quiet, prettier --write

Update proposal details to include missing financial and loan information
  server/modules/proposal/infrastructure/ProposalRepository.ts
  server/modules/proposal/presentation/proposalController.ts
Due: eslint --fix --quiet, prettier --write

Improve client data display and proposal details retrieval
  client/src/pages/credito/analise.tsx
  server/modules/proposal/presentation/proposalController.ts
Due: eslint --fix --quiet, prettier --write

Improve display of loan details by showing "Not informed" for missing fields
  client/src/pages/credito/analise.tsx
Due: eslint --fix --quiet, prettier --write

Update proposal form to ensure required fields are properly handled
  client/src/pages/nova-proposta.tsx
Due: eslint --fix --quiet, prettier --write
