Repository vapo643/SimHBSftwerdv: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

Update proposal statuses to ensure accurate data display
  attached_assets/Pasted--AUDITORIA-COMPLETA-SISTEMA-DE-STATUS-DE-PROPOSTAS-Data-da-Auditoria-14-08-2025-M-1755194285513_1755194285514.txt
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Corrigir-a-query-1755194274012_1755194274014.txt
  server/routes/cobrancas.ts
  server/routes/pagamentos.ts
  shared/schema.ts
Due: eslint --fix --quiet, prettier --write

Update cobranças screen to filter by generated invoices only
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Refatorar-a-quer-1755194753270_1755194753272.txt
  server/routes/cobrancas.ts
Due: eslint --fix --quiet, prettier --write

Map out new proposal status workflow and analyze necessary code changes
  AUDITORIA_STATUS_WORKFLOW_V2.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755195340947_1755195340948.txt
Due: prettier --write

Enhance proposal status tracking with a detailed audit system
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Implementar-as-a-1755195781713_1755195781715.txt
  replit.md
  server/routes.ts
  server/routes/test-audit.ts
  server/services/auditService.ts
  shared/schema.ts
Due: eslint --fix --quiet, prettier --write

Implement automatic status tracking and auditing for all proposal events
  STATUS_V2_IMPLEMENTATION.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Implementar-a-no-1755196448441_1755196448442.txt
  server/routes/clicksign.ts
  server/services/boletoStorageService.ts
  server/services/ccbGenerationService.ts
  server/services/clickSignWebhookService.ts
Due: eslint --fix --quiet, prettier --write

Update system to use new status codes and remove old flags
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Executar-a-migra-1755197221480_1755197221481.txt
  client/src/pages/GestaoContratos.tsx
  client/src/pages/dashboard.tsx
  client/src/pages/fila-analise.tsx
  client/src/pages/formalizacao.tsx
  scripts/migrate-status-v2.ts
Due: eslint --fix --quiet, prettier --write

Create a detailed audit report for inconsistent proposal data after status migration
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755197913434_1755197913438.txt
Due: none

Update system to map legacy proposal statuses to new V2.0 status system
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Criar-e-executar-1755198165036_1755198165040.txt
  scripts/migrate-legacy-statuses.ts
Due: eslint --fix --quiet, prettier --write

Add diagnostic logs to track missing client data on collections screen
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755198538889_1755198538892.txt
  client/src/pages/financeiro/cobrancas.tsx
Due: eslint --fix --quiet, prettier --write

Remove debugging logs from the collections page
  attached_assets/Pasted--rest-express-1-0-0-dev-Database-Configuring-Supabase-connection-Database-Connection-c-1755198961816_1755198961818.txt
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1755198884529_1755198884531.txt
  client/src/pages/financeiro/cobrancas.tsx
Due: eslint --fix --quiet, prettier --write

Add strict data validation to proposal creation endpoint
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Implementar-vali-1755199291047_1755199291049.txt
  scripts/cleanup-null-proposals.ts
  server/routes.ts
  shared/schema.ts
  test-validation-proposta.cjs
Due: eslint --fix --quiet, prettier --write

Add forensic logging to capture proposal data for debugging
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755199986772_1755199986777.txt
  capture-evidence.sh
  server/routes/cobrancas.ts
Due: eslint --fix --quiet, prettier --write

Ensure all customer details are retrieved for financial proposals
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Refatorar-a-quer-1755200270517_1755200270539.txt
  server/routes/cobrancas.ts
Due: eslint --fix --quiet, prettier --write

Improve debt collection screen by ensuring all client data is displayed
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Refatorar-a-quer-1755200845118_1755200845120.txt
Due: none

Audit proposal creation to fix missing client data
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755201373525_1755201373529.txt
Due: none

Ensure client data is saved in both dedicated columns and JSON format
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Corrigir-a-l-gic-1755201653067_1755201653068.txt
  server/routes.ts
  server/storage.ts
  test-pam-dupla-escrita.cjs
  test-validation.sh
Due: eslint --fix --quiet, prettier --write

Document inconsistencies in legacy frontend status usage
  AUDITORIA_STATUS_LEGADOS_FRONTEND.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755261235980_1755261235999.txt
Due: prettier --write

Update formalization statuses to align with new system version
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Refatorar-o-arqu-1755261609568_1755261609570.txt
  client/src/pages/formalizacao.tsx.backup
  refactor-formalizacao-v2.sh
Due: none

Fix error that prevents users from viewing their financial proposals
  PAM_V1.0_DIAGNOSTIC_LOG.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755262051084_1755262051085.txt
  client/src/pages/formalizacao.tsx
Due: eslint --fix --quiet, prettier --write

Update proposal filtering to exclude Boleto Emitido status
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1755262420011_1755262420012.txt
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Detail findings of a forensic audit on the collections screen
  PAM_V1.0_AUDITORIA_COBRANCAS.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755263877338_1755263877343.txt
Due: prettier --write

Aligns the collections screen with business requirements by using status for filtering
  PAM_V1.0_REFATORACAO_COMPLETA.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Refatorar-a-Tel-1755264176536_1755264176538.txt
  server/routes/cobrancas.ts
  test-pam-v1-refactor.cjs
Due: eslint --fix --quiet, prettier --write

Add financial action capabilities to the collections screen
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Conectar-os-comp-1755264717183_1755264717187.txt
  client/src/pages/financeiro/cobrancas.tsx
  test-pam-v1-frontend.cjs
Due: eslint --fix --quiet, prettier --write

Provide audit report detailing issues with fetching collection data
  PAM_V1.0_AUDITORIA_FORENSE_QUERY_COBRANCAS.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755265959753_1755265959754.txt
Due: prettier --write

Add detailed audit logs to track data flow and filtering logic
  PAM_V1.0_AUDITORIA_FORENSE_FRONTEND_COBRANCAS.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755266231251_1755266231253.txt
  client/src/pages/financeiro/cobrancas.tsx
Due: eslint --fix --quiet, prettier --write

Add detailed logging to track data flow on the collections page
  PAM_V1.0_INSTRUMENTACAO_COMPLETA.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Instrumentar-o-f-1755266898413_1755266898414.txt
  client/src/pages/financeiro/cobrancas.tsx
  server/routes/cobrancas.ts
Due: eslint --fix --quiet, prettier --write

Repair corrupted proposal data and strengthen data validation
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Executar-um-scri-1755267690434_1755267690435.txt
  replit.md
  scripts/repair-proposal-88a44696.ts
  scripts/test-api-validation.ts
  scripts/test-validation-direct.cjs
Due: eslint --fix --quiet, prettier --write

Update audit report for collections screen against business blueprint
  PAM_V1.0_AUDITORIA_COBRANCAS.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755270544622_1755270544624.txt
Due: prettier --write

Implement an approval workflow and smart sorting for collections
  PAM_V1.0_REFATORACAO_COMPLETA.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Refatorar-a-Tel-1755275236064_1755275236066.txt
  server/routes.ts
  server/routes/cobrancas.ts
  shared/schema.ts
Due: eslint --fix --quiet, prettier --write

Implement hierarchical approval workflow for financial collections
  PAM_V1.0_BLUEPRINT_V2_COMPLETE.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Refatorar-o-fron-1755275983207_1755275983211.txt
  client/src/pages/financeiro/cobrancas.tsx
Due: eslint --fix --quiet, prettier --write

Diagnose user creation error preventing new user setup
  PAM_V1.0_DIAGNOSTIC_USER_FORM.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Auditar-o-fluxo--1755276921938_1755276921941.txt
Due: prettier --write

Expand user creation access to managerial roles and fix frontend errors
  PAM_V1.0_USER_FORM_CORRECTION_COMPLETE.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Corrigir-a-funci-1755277258073_1755277258074.txt
  client/src/components/usuarios/UserForm.tsx
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Complete audit report for the collections screen and its features
  PAM_V1.0_AUDITORIA_FINAL_COBRANCAS.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-a-audit-1755278066783_1755278066790.txt
Due: prettier --write

Design proactive alerts system for collections and notification center
  PAM_V1.0_ARQUITETURA_ALERTAS_PROATIVOS.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Projetar-a-arqui-1755278471173_1755278471177.txt
  replit.md
Due: prettier --write

Add proactive alert system for financial monitoring
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Implementar-a-fu-1755278939073_1755278939075.txt
  server/index.ts
  server/routes.ts
  server/routes/alertas.ts
  server/services/alertasProativosService.ts
  shared/schema.ts
Due: eslint --fix --quiet, prettier --write

Add proactive alert system with notification bell and dropdown
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Implementar-a-in-1755279508323_1755279508326.txt
  client/src/components/DashboardLayout.tsx
  client/src/components/notifications/NotificationBell.tsx
  client/src/components/notifications/NotificationDropdown.tsx
Due: eslint --fix --quiet, prettier --write

Audit database for missing user notifications
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755280630024_1755280630026.txt
Due: none

Update notification system to correctly identify users
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Corrigir-o-endpo-1755280809293_1755280809296.txt
  server/routes/alertas.ts
Due: eslint --fix --quiet, prettier --write

Implement proactive alert system for credit management
  replit.md
Due: prettier --write

Enhance proactive alerts for financial proposals and user notifications
  server/services/alertasProativosService.ts
  test-alertas-direto.ts
  test-alertas-real-data.cjs
Due: eslint --fix --quiet, prettier --write

Path conditions:
  eslint --fix --quiet: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
