Repository vapo643/SimHBSftwerdv: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

Improve input sanitization and logging for enhanced security and debugging
  server/lib/input-sanitizer.ts
  server/lib/logger.ts
  server/lib/security-headers.ts
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Fix various issues in document generation and API responses
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Checkpoint before assistant change: Improve security and logging across the application
  server/lib/input-sanitizer.ts
  server/lib/jwt-auth-middleware.ts
  server/lib/logger.ts
  server/lib/security-logger.ts
  server/lib/sentry.ts
  server/lib/supabase.ts
  server/middleware/csrfProtection.ts
  server/middleware/strictCSP.ts
  server/middleware/url-token-validator.ts
  server/storage.ts
Due: eslint --fix --quiet, prettier --write

Improve logging and data handling across the application
  server/lib/logger.ts
  server/lib/security-logger.ts
  server/lib/sentry.ts
  server/routes/origination.routes.ts
  server/storage.ts
Due: eslint --fix --quiet, prettier --write

Update database storage methods and fix code formatting issues
  attached_assets/Pasted--workspace-npx-eslint-ext-ts-tsx-js-jsx-fix-home-runner-workspace-client-src-compone-1756317510849_1756317510851.txt
  server/storage.ts
Due: eslint --fix --quiet, prettier --write

Checkpoint before assistant change: Improve error handling and code quality across the application
  attached_assets/Pasted-Roadmap-de-Emerg-ncia-Opera-o-Blitzkrieg-Erradica-o-em-Massa-Objetivo-Erradicar-100-da-d-vida-1756318567357_1756318567358.txt
  server/lib/mock-queue.ts
  server/routes/clicksign.ts
  server/routes/inter.ts
  server/routes/origination.routes.ts
  server/services/statusFsmService.ts
  server/storage.ts
Due: eslint --fix --quiet, prettier --write

Checkpoint before assistant change: Fix syntax error in mock queue processing logic
  server/lib/mock-queue.ts
Due: eslint --fix --quiet, prettier --write

Improve internal service logic and timezone handling
  server/lib/mock-queue.ts
  server/lib/status-context-helper.ts
  server/lib/timezone.ts
  server/middleware/timing-normalizer.ts
  server/services/clickSignWebhookService.ts
  server/services/featureFlagService.ts
  server/services/genericService.ts
Due: eslint --fix --quiet, prettier --write

Assistant checkpoint: Fix syntax errors in mock-queue.ts file
  server/lib/mock-queue.ts
Due: eslint --fix --quiet, prettier --write

Restored to '5a1fc32ee39d3ff792c651506a244655c473abdb'
  server/lib/mock-queue.ts
Due: eslint --fix --quiet, prettier --write

Fix errors in PDF generation and file upload processes
  server/services/pdfMergeService.ts
Due: eslint --fix --quiet, prettier --write

Refactor code to improve consistency and readability
  server/lib/status-context-helper.ts
  server/services/boletoStorageService.ts
  server/services/cacheService.ts
  server/services/interService.ts
  server/services/monitoringService.ts
  server/services/pdfMergeService.ts
Due: eslint --fix --quiet, prettier --write

Outline emergency plan to address code quality and technical debt
  attached_assets/Pasted-Roadmap-de-Emerg-ncia-Opera-o-Blitzkrieg-Erradica-o-em-Massa-Objetivo-Erradicar-100-da-d-vida-1756320990988_1756320990989.txt
Due: none

Implement a structured plan to address technical debt and stabilize the system
  attached_assets/Pasted-Veredito-Comando-recebido-Sua-avalia-o-da-situa-o-a-nica-realidade-que-importa-A-opera-o--1756321174548_1756321174549.txt
Due: none

Address numerous code warnings and errors to improve stability
  attached_assets/Pasted--workspace-npx-eslint-ext-ts-tsx-js-jsx-fix-home-runner-workspace-client-src-compone-1756322377252_1756322377256.txt
  attached_assets/Pasted--workspace-npx-prettier-write-ts-tsx-js-jsx-client-src-App-tsx-135ms-unchanged-clie-1756321962588_1756321962590.txt
  client/src/components/tabelas-comerciais/TabelaComercialForm.tsx
  client/src/pages/admin/security/wstg.tsx
  client/src/pages/admin/usuarios.tsx
  client/src/pages/analise-manual.tsx
  client/src/pages/configuracoes/alterar-email.tsx
  client/src/pages/configuracoes/produtos.tsx
  client/src/pages/dashboard.tsx
  client/src/pages/financeiro/CobrancasPage.tsx
  client/src/pages/financeiro/pagamentos.tsx
  client/src/pages/pagamentos.tsx
  server/contexts/proposal/infrastructure/ProposalRepository.ts
  server/lib/security-websocket.ts
  server/repositories/base.repository.ts
  server/repositories/cobrancas.repository.ts
  server/repositories/inter.repository.ts
  server/repositories/observacoes.repository.ts
  server/routes.ts
  server/routes/admin-users.ts
  server/services/ccbSyncService.ts
  server/services/cobrancasService.ts
  server/services/interService.ts
  server/services/pagamentoService.ts
  server/services/securityService.ts
  server/worker-test-retry.ts
Due: eslint --fix --quiet, prettier --write

Update ESLint configuration and add new ignore patterns
  .eslintrc.json
  FINAL_DEPLOYMENT_VERDICT.md
  attached_assets/Pasted-Veredito-Recebido-Sua-diretriz-para-avan-ar-para-o-deploy-compreendida-mas-como-o-guardi-o-da-1756323008992_1756323008993.txt
  attached_assets/🚀 ROADMAP MESTRE DE IMPLEMENTAÇÃO_ OPERAÇÃO AÇO LÍQUIDO_1756322691005.md
Due: prettier --write

Document critical system errors and analyze root causes of widespread code issues
  SITUATION_REPORT_CRITICAL.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V16-2-Debate-T-tico-de-Emerg-ncia-An-lise-de-Falha-e-Estr-1756324429903_1756324429903.txt
  attached_assets/Pasted--workspace-npx-eslint-ext-ts-tsx-js-jsx-fix-home-runner-workspace-client-src-compone-1756324354586_1756324354591.txt
Due: prettier --write

Add final audit report for Sprint 0 detailing critical compliance failures
  RELATORIO_VERIFICACAO_FINAL_S0.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V14-2-Auditoria-de-Conformidade-Absoluta-Sprint-0-Valid-1756324864248_1756324864251.txt
Due: prettier --write

Restore previous stable version of the codebase
  attached_assets/Pasted-Arquiteto-Chefe-a-sua-an-lise-est-correta-e-a-sua-frustra-o-justificada-O-sistema-em-estado-n--1756325289801_1756325289803.txt
Due: none

Analyze ESLint errors to assess impact and guide fixes
  ESLINT_DEBT_IMPACT_ANALYSIS.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V16-1-Auditoria-de-Impacto-de-D-vida-T-cnica-An-lise-de-E-1756325564180_1756325564182.txt
Due: prettier --write

Improve code obfuscation for production builds
  vite-plugin-obfuscate.ts
Due: eslint --fix --quiet, prettier --write

Update project dependencies and resolve critical type errors for deployment readiness
  docs/7CHECK_REPORT_2025-08-27.md
  package-lock.json
  package.json
Due: prettier --write

Establish strategic alignment for credit system project using a detailed questionnaire
  attached_assets/Pasted-Ok-Arquiteto-Chefe-Recebido-PROTOCOLO-DE-DESIGN-DE-MISS-O-DE-ELITE-PDME-V1-3-ATIVADO--1756328616897_1756328616899.txt
  docs/CONTEXTO_MAXIMO_SIMPIX_2025-08-27.md
Due: prettier --write

Improve system stability and data consistency across modules
  server/routes/health.ts
  server/routes/inter.ts
  server/routes/webhooks-inter.ts
  server/services/authService.ts
  server/services/pagamentoService.ts
  server/services/securityMonitoringService.ts
  server/services/webhookService.ts
Due: eslint --fix --quiet, prettier --write

Address critical code quality issues identified by ESLint
  attached_assets/Pasted--VEREDICTO-FINAL-BLOQUEAR-DEPLOY-A-o-Corretiva-Necess-ria-RESUMO-EXECUTIVO-De-A-1756337362480_1756337362481.txt
  attached_assets/Pasted--VEREDICTO-FINAL-CORRIGIR-10-ERROS-CR-TICOS-PRIMEIRO-DE-Auditor-S-nior-de-Qualidade-de-C--1756337295171_1756337295172.txt
  docs/ROADMAP_CORRECAO_ESLINT_CRITICO.md
Due: prettier --write

Improve application stability and fix critical errors across multiple pages
  attached_assets/Pasted--ROADMAP-DE-CORRE-O-ESLint-CR-TICO-OPERA-O-A-O-L-QUIDO-Protocolo-PEO-V2-0-A-o-Corre-1756337524000_1756337524001.txt
  client/src/lib/apiClient.ts
  client/src/pages/credito/analise.tsx
  client/src/pages/fila-analise.tsx
  client/src/pages/formalizacao.tsx
  client/src/pages/parceiros/detalhe.tsx
  client/src/pages/propostas/editar.tsx
Due: eslint --fix --quiet, prettier --write

Update proposal and formalization pages to improve error handling and state management
  client/src/hooks/useProposalEffects.ts
  client/src/pages/formalizacao.tsx
  docs/ROADMAP_CORRECAO_ESLINT_CRITICO.md
Due: eslint --fix --quiet, prettier --write

Update roadmap to reflect completed critical bug fixes
  docs/ROADMAP_CORRECAO_ESLINT_CRITICO.md
Due: prettier --write

Address critical ESLint issues to enable system deployment
  attached_assets/Pasted--ROADMAP-DE-CORRE-O-ESLint-CR-TICO-OPERA-O-A-O-L-QUIDO-Protocolo-PEO-V2-0-A-o-Corre-1756338482530_1756338482531.txt
Due: none

Update partner detail page to include necessary icons
  client/src/pages/parceiros/detalhe.tsx
Due: eslint --fix --quiet, prettier --write

Add a comprehensive implementation roadmap for a credit platform
  attached_assets/🚀 ROADMAP MESTRE DE IMPLEMENTAÇÃO_ OPERAÇÃO AÇO LÍQUIDO_1756339837171.md
Due: prettier --write

Enhance testing framework and update project configurations for better performance
  client/src/pages/admin/security/wstg.tsx
  package-lock.json
  package.json
  server/middleware/timing-normalizer.ts
  server/services/userService.ts
  tests/setup.ts
  tsconfig.json
  vitest.config.ts
Due: eslint --fix --quiet, prettier --write

Adjust testing environment configuration for better compatibility
  vitest.config.ts
Due: eslint --fix --quiet, prettier --write

Configure production Docker environment with enhanced security settings
  .dockerignore
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Auditoria-de-Conformidade-do-Sprint-1-Sum-rio-d-1756340869980_1756340869980.txt
  docker-compose.prod.yml
Due: none

Establish audit plan for initial code base compliance verification
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Auditoria-de-Conformidade-do-Sprint-0-Sum-rio-d-1756341303956_1756341303957.txt
Due: none

Align project structure and activate CI Docker build
  .github/workflows/ci.yml
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Remedia-o-das-Lacunas-do-Sprint-0-Sum-rio-da-M-1756341665141_1756341665142.txt
  server/modules/README.md
  server/modules/credit/application/ProposalApplicationService.ts
  server/modules/credit/domain/aggregates/Proposal.ts
  server/modules/credit/domain/repositories/IProposalRepository.ts
  server/modules/credit/domain/services/CreditAnalysisService.ts
  server/modules/credit/infrastructure/ProposalRepositoryImpl.ts
  server/modules/credit/presentation/ProposalController.ts
  server/modules/credit/presentation/routes.ts
  server/modules/proposal/application/ApproveProposalUseCase.ts
  server/modules/proposal/application/CreateProposalUseCase.ts
  server/modules/proposal/application/GetProposalByIdUseCase.ts
  server/modules/proposal/application/RejectProposalUseCase.ts
  server/modules/proposal/domain/IProposalRepository.ts
  server/modules/proposal/domain/Proposal.ts
  server/modules/proposal/infrastructure/ProposalRepository.ts
  server/modules/proposal/presentation/proposalController.ts
  server/routes.ts
  server/routes/propostas/core.ts
Due: eslint --fix --quiet, prettier --write

Centralize encryption logic into a reusable service
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Remedia-o-da-Lacuna-do-Sprint-1-Sum-rio-da-Mis-1756341978908_1756341978909.txt
  server/services/clickSignSecurityService.ts
  server/services/cryptoService.ts
Due: eslint --fix --quiet, prettier --write

Path conditions:
  eslint --fix --quiet: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
