Repository vapo643/SimHBSftwerdv: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

Improve job reliability with automatic retries and exponential backoff
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Implementar-o-pa-1755112685801_1755112685804.txt
Due: none

Restored to '018a37e2317ff8b8c36edbea478e16a4a6e42881'
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Implementar-o-pa-1755112685801_1755112685804.txt
Due: none

Establish an asynchronous task processing foundation with Redis and BullMQ
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Implementar-a-fu-1755112908254_1755112908255.txt
Due: none

Establish asynchronous job processing foundation with a new queue system
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Implementar-a-fu-1755113060831_1755113060833.txt
  replit.md
  server/lib/queues-basic.ts
  server/routes.ts
  server/routes/test-queue.ts
  server/worker-basic.ts
  test-queue-foundation.cjs
Due: eslint --fix --quiet, prettier --write

Add retry mechanism for asynchronous jobs to improve system resilience
  AUDITORIA_FASE_2.1_RELATORIO_FINAL.md
  attached_assets/Pasted--IMPLEMENTAR-Auditoria-completa-da-nova-arquitetura-de-processamento-ass-ncrono-Job-Queue-e-d-1755114056780_1755114056787.txt
  server/routes.ts
  server/routes/test-retry.ts
  server/worker-test-retry.ts
  server/worker.ts
  test-audit-retry.cjs
Due: eslint --fix --quiet, prettier --write

Add circuit breaker pattern to external API calls
  CIRCUIT_BREAKER_IMPLEMENTATION.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Implementar-o-pa-1755114776912_1755114776929.txt
  package-lock.json
  package.json
  replit.md
  server/lib/circuit-breaker.ts
  server/routes.ts
  server/services/clickSignService.ts
  server/services/interBankService.ts
  test-circuit-breaker.cjs
Due: eslint --fix --quiet, prettier --write

Improve boleto synchronization by processing them in parallel batches
  PARALLEL_BOLETO_SYNC_IMPLEMENTATION.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Refatorar-o-work-1755115640397_1755115640399.txt
  replit.md
  server/services/boletoStorageService.ts
  test-boleto-parallel-direct.cjs
  test-boleto-parallel-simple.cjs
  test-parallel-boleto-sync.cjs
Due: eslint --fix --quiet, prettier --write

Finalize audit of new asynchronous processing and resilience architecture
  AUDITORIA_FINAL_OPERACAO_ANTIFRAGIL.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-a-audit-1755116363568_1755116363573.txt
Due: prettier --write

Remove all mock data and fix ticket generation for production readiness
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755117013623_1755117013626.txt
Due: none

Make mock queue execute real worker logic in development
  attached_assets/Pasted--IMPLEMENTAR-Refatora-o-do-sistema-de-Mock-Queue-para-que-ele-execute-a-l-gica-real-do-Work-1755117241201_1755117241203.txt
  server/lib/mock-queue.ts
  server/routes.ts
  server/routes/test-mock-queue-worker.ts
  server/services/ccbGenerationService.ts
  test-carne-refactored.cjs
Due: eslint --fix --quiet, prettier --write

Update development queue to process real data and eliminate mock references
  attached_assets/Pasted--rest-express-1-0-0-dev-Database-Configuring-Supabase-connection-Database-Connection-c-1755117913508_1755117913511.txt
  replit.md
  server/lib/mock-queue.ts
Due: eslint --fix --quiet, prettier --write

Update mock queue logs to use "DEV" instead of "MOCK"
  server/lib/mock-queue.ts
  server/routes/test-mock-queue-worker.ts
Due: eslint --fix --quiet, prettier --write

Update formalization process to handle existing generated carnets
  attached_assets/Pasted--IMPLEMENTAR-Refatora-o-completa-do-fluxo-de-frontend-para-a-gera-o-de-carn-s-e-corre-o-do-1755118782874_1755118782875.txt
  client/src/pages/formalizacao.tsx
  server/lib/mock-queue.ts
  server/routes/job-status.ts
  server/routes/propostas-carne.ts
  server/services/pdfMergeService.ts
Due: eslint --fix --quiet, prettier --write

Check for existing loan agreements before generating new ones
  attached_assets/Pasted--rest-express-1-0-0-dev-Database-Configuring-Supabase-connection-Database-Connection-c-1755119345917_1755119345923.txt
  client/src/pages/formalizacao.tsx
  server/routes.ts
  server/routes/propostas-carne-status.ts
Due: eslint --fix --quiet, prettier --write

Improve document generation by checking file status
  attached_assets/Pasted--IMPLEMENTAR-Re-engenharia-completa-da-l-gica-de-frontend-e-backend-para-a-gera-o-de-carn-s--1755174595161_1755174595163.txt
  client/src/pages/formalizacao.tsx
  server/routes.ts
  server/routes/propostas-carne.ts
  server/routes/propostas-corrigir-sincronizacao.ts
  server/routes/propostas-storage-status.ts
Due: eslint --fix --quiet, prettier --write

Improve formalization screen to automatically check for existing payment slips
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Refatorar-a-Tel-1755179595346_1755179595347.txt
  client/src/pages/formalizacao.tsx
  server/routes.ts
  server/routes/propostas-carne-check.ts
Due: eslint --fix --quiet, prettier --write

Add detailed diagnostic logs to trace carnê status communication
  PAM_V1.0_DIAGNOSTIC_LOG.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755180365298_1755180365299.txt
  client/src/pages/formalizacao.tsx
  server/routes/propostas-carne-status.ts
Due: eslint --fix --quiet, prettier --write

Fix issue with inconsistent document access due to client types
  PAM_V1.0_DIAGNOSTIC_LOG.md
  attached_assets/Pasted--rest-express-1-0-0-dev-Database-Configuring-Supabase-connection-Database-Connection-c-1755180722029_1755180722032.txt
  server/routes/propostas-carne-status.ts
Due: eslint --fix --quiet, prettier --write

Improve document generation status checks and debugging logs
  attached_assets/Pasted--JWT-DEBUG-IN-CIO-DA-VALIDA-O-JWT-JWT-DEBUG-Rota-acessada-api-debug-me-JWT-DEB-1755181165773_1755181165775.txt
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1755181215928_1755181215928.txt
  server/routes/propostas-carne.ts
Due: eslint --fix --quiet, prettier --write

Fix the system for automatically detecting and displaying the download button
  PAM_V1.0_DIAGNOSTIC_LOG.md
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1755181334648_1755181334650.txt
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1755181559415_1755181559420.txt
  replit.md
Due: prettier --write

Improve carnê detection and cleanup diagnostic logs
  attached_assets/Pasted--rest-express-1-0-0-dev-Database-Configuring-Supabase-connection-Database-Connection-c-1755181603272_1755181603275.txt
  client/src/pages/formalizacao.tsx
  replit.md
  server/routes/propostas-storage-status.ts
  shared/schema.ts
Due: eslint --fix --quiet, prettier --write

Add human-readable proposal numbers for easier identification
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Implementar-um--1755182806314_1755182806316.txt
  client/src/pages/dashboard.tsx
  client/src/pages/fila-analise.tsx
  client/src/pages/financeiro/pagamentos.tsx
  server/routes.ts
  shared/schema.ts
Due: eslint --fix --quiet, prettier --write

Restore instant code updates during development by fixing configuration
  attached_assets/Pasted--IMPLEMENTAR-Corre-o-da-configura-o-do-Vite-para-restaurar-a-funcionalidade-de-Hot-Module-Rep-1755183289580_1755183289582.txt
Due: none

Fix development tools to allow instant code updates
  attached_assets/content-1755183655902.md
  replit.md
Due: prettier --write

Improve development security settings for Replit environment
  client/src/pages/dashboard.tsx
  server/app.ts
  server/lib/security-config.ts
  server/lib/security-headers.ts
Due: eslint --fix --quiet, prettier --write

Validate asynchronous architecture performance with a high-load test
  PAM_V1.0_RELATORIO_FINAL_CARGA.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Criar-e-executar-1755187641954_1755187641971.txt
  get-proposta-id.cjs
  replit.md
  test-carga-formalizacao.cjs
Due: prettier --write

Add a new collections screen for financial management
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Construir-a-base-1755188600124_1755188600125.txt
  client/src/App.tsx
  client/src/components/DashboardLayout.tsx
  client/src/pages/cobrancas.tsx
  replit.md
  server/lib/role-guards.ts
  server/routes/cobrancas.ts
  test-pam-cobrancas.cjs
Due: eslint --fix --quiet, prettier --write

Restored to '3a081a4d13163b08d48be8e8daff97c0c60955f6'
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Construir-a-base-1755188600124_1755188600125.txt
  client/src/App.tsx
  client/src/components/DashboardLayout.tsx
  client/src/pages/cobrancas.tsx
  replit.md
  server/lib/role-guards.ts
  server/routes/cobrancas.ts
  test-pam-cobrancas.cjs
Due: eslint --fix --quiet, prettier --write

Add comprehensive diagnostic audit for existing billing screen
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755189942513_1755189942514.txt
Due: none

Implement real-time payment notifications from Banco Inter
  .env.development
  WEBHOOK_BANCO_INTER_DOCUMENTATION.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Implementar-o-en-1755190211531_1755190211532.txt
  replit.md
  server/routes/webhooks.ts
  test-webhook-inter-complete.cjs
  test-webhook-inter-simple.cjs
  test-webhook-inter.cjs
Due: eslint --fix --quiet, prettier --write

Add real-time updates to collections page for payment status changes
  PAM_V1.0_REALTIME_VALIDATION.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Implementar-a-l--1755190970573_1755190970574.txt
  client/src/pages/financeiro/CobrancasPage.tsx
  replit.md
  test-realtime-cobrancas.sql
Due: eslint --fix --quiet, prettier --write

Improve system overview and clarify project goals
  replit.md
Due: prettier --write

Grant financial team access to modify payment due dates and discounts
  PAM_V1.0_COBRANCAS_ACTIONS.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Implementar-a-l--1755191326917_1755191326919.txt
  client/src/lib/apiClient.ts
  client/src/pages/financeiro/CobrancasPage.tsx
  server/routes/inter.ts
  test-cobrancas-actions.cjs
Due: eslint --fix --quiet, prettier --write

Improve accuracy of displayed financial collection data
  PAM_V1.0_SYNC_COBRANCAS.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Auditar-e-refato-1755192076446_1755192076449.txt
  client/src/pages/financeiro/CobrancasPage.tsx
  server/routes/cobrancas.ts
  test-sync-cobrancas.cjs
Due: eslint --fix --quiet, prettier --write

Show all proposals with signed agreements, including those without bills
  PAM_V1.0_SYNC_COBRANCAS.md
  server/routes/cobrancas.ts
  test-sync-cobrancas.cjs
Due: eslint --fix --quiet, prettier --write

Conduct a forensic audit to identify why valid proposals are not displayed
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755192857612_1755192857627.txt
Due: none

Improve proposal filtering to correctly display all valid contracts
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Refatorar-a-l-gi-1755193182469_1755193182474.txt
  client/src/pages/financeiro/CobrancasPage.tsx
Due: eslint --fix --quiet, prettier --write

Document proposal status lifecycle and identify inconsistencies
  AUDITORIA_STATUS_PROPOSTAS.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755193734201_1755193734207.txt
Due: prettier --write

Path conditions:
  eslint --fix --quiet: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
