Repository vapo643/SimHBSftwerdv: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

Stabilize simulation by removing unnecessary dependencies
  client/src/hooks/useProposalEffects.ts
Due: eslint --fix --quiet, prettier --write

Improve stability by removing unnecessary dependencies from effects
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1755654456175_1755654456176.txt
  client/src/pages/propostas/nova.tsx
Due: eslint --fix --quiet, prettier --write

Improve simulation and notification handling for financial platform
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1755654677395_1755654677396.txt
  client/src/hooks/useProposalEffects.ts
  server/routes/alertas.ts
Due: eslint --fix --quiet, prettier --write

Improve input fields by using a custom masked input component
  attached_assets/Pasted-GET-https-874e2dce-5057-49ae-8fb5-21491c9977ba-00-1xresvzm7is3g-janeway-replit-dev-api-alertas-not-1755654872772_1755654872772.txt
  client/src/components/propostas/ClientDataStep.tsx
  client/src/components/ui/MaskedInput.tsx
Due: eslint --fix --quiet, prettier --write

Improve error handling to prevent unexpected application crashes
  client/index.html
  client/src/components/ErrorBoundary.tsx
  client/src/main.tsx
  client/src/pages/credito/fila.tsx
Due: eslint --fix --quiet, prettier --write

Prevent duplicate custom element definitions and improve user data handling
  client/index.html
  client/src/pages/admin/usuarios.tsx
Due: eslint --fix --quiet, prettier --write

Fix formatting error in input fields and data retrieval for user list
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1755655941511_1755655941512.txt
  client/src/components/ui/MaskedInput.tsx
  client/src/pages/admin/usuarios.tsx
Due: eslint --fix --quiet, prettier --write

Improve proposal form validation and data handling for user submissions
  attached_assets/Pasted-nova-179-Warning-findDOMNode-is-deprecated-and-will-be-removed-in-the-next-major-release-Instead--1755656311078_1755656311079.txt
  client/src/components/propostas/PersonalReferencesStep.tsx
  client/src/pages/nova-proposta.tsx
Due: eslint --fix --quiet, prettier --write

Improve form validation and error handling for user inputs
  client/src/pages/nova-proposta.tsx
Due: eslint --fix --quiet, prettier --write

Generate unique IDs for new proposals and update validation schema
  server/routes/propostas/core.ts
  shared/schema.ts
Due: eslint --fix --quiet, prettier --write

Update CCB generation to use sequential proposal numbers
  server/services/ccbGenerationService.ts
Due: eslint --fix --quiet, prettier --write

Map current state of the "New Proposal" workflow for future enhancements
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Auditoria-de-Estado-Atual-Nova-Proposta-Sum-r-1755657951327_1755657951328.txt
Due: none

Outline a strategic roadmap for evolving the new proposal process
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Debate-de-Planejamento-Intera-o-1-Sum-rio-da-1755658556731_1755658556732.txt
  attached_assets/Pasted--RELAT-RIO-DE-AUDITORIA-DE-ESTADO-ATUAL-NOVA-PROPOSTA-PAM-V1-0-Reconhecimento-Forense-Complet-1755658565100_1755658565100.txt
Due: none

Refine database schema with detailed considerations for data integrity and migration
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Debate-de-Planejamento-Intera-o-2-Sum-rio-da-1755658894668_1755658894669.txt
Due: none

Plan new automatic income rejection rule for loan applications
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Debate-de-Planejamento-Intera-o-3-Sum-rio-da-1755691900685_1755691900688.txt
Due: none

Add new employer and financial fields to proposals and professional references
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Adicionar-as-colunas-1755692174678_1755692174679.txt
  attached_assets/Pasted-S-ntese-Final-e-Plano-de-Batalha-P-s-Debate-A-fase-de-PLANEJAMENTO-EXAUSTIVO-est-conclu-da-A-seg-1755692150367_1755692150370.txt
  migrations/0001_sleepy_spencer_smythe.sql
  migrations/0002_ancient_proemial_gods.sql
  migrations/meta/0001_snapshot.json
  migrations/meta/0002_snapshot.json
  migrations/meta/_journal.json
  shared/schema.ts
Due: eslint --fix --quiet, prettier --write

Add automated income commitment checks for loan pre-approval
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Criar-o-novo-preApp-1755692548595_1755692548608.txt
  server/services/preApprovalService.ts
Due: eslint --fix --quiet, prettier --write

Integrate automated income analysis for new proposal submissions
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Integrar-o-novo-pre-1755692818447_1755692818455.txt
  server/routes/propostas/core.ts
Due: eslint --fix --quiet, prettier --write

Grant document upload access to analysts for proposals
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Alterar-o-middleware-1755693358599_1755693358603.txt
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Add client company, hire date, and existing debt fields to new proposal form
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Adicionar-os-campos--1755693791307_1755693791326.txt
Due: none

Fix issues and add types to client data component
  client/src/components/propostas/ClientDataStep.tsx
  client/src/contexts/ProposalContext.tsx
  shared/schema.ts
Due: eslint --fix --quiet, prettier --write

Update form to collect both personal and professional references
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Refatorar-o-componen-1755694335615_1755694335623.txt
  client/src/components/propostas/PersonalReferencesStep.tsx
  client/src/contexts/ProposalContext.tsx
  shared/schema.ts
Due: eslint --fix --quiet, prettier --write

Verify integration and validation of the new personal references component
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Verifica-o-de-Integra-o-de-Componente-Sum-rio-1755694929203_1755694929212.txt
Due: none

Make the second reference type flexible for users
  attached_assets/Pasted-Pacote-de-Ativa-o-de-Miss-o-PAM-V1-1-Refatora-o-do-Formul-rio-de-Refer-ncias-Ajuste-de-Requis-1755695448782_1755695448805.txt
  client/src/components/propostas/PersonalReferencesStep.tsx
  shared/schema.ts
Due: eslint --fix --quiet, prettier --write

Improve reference form validation for dynamic field display
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Verifica-o-Funcional-de-UI-Sum-rio-da-Miss-o--1755695776038_1755695776044.txt
  client/src/components/propostas/PersonalReferencesStep.tsx
Due: eslint --fix --quiet, prettier --write

Define strategy for auditing data consistency and identifying potential risks
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Debate-de-Planejamento-Intera-o-1-Sum-rio-da-1755696309808_1755696309812.txt
Due: none

Clarify tactical steps for mission pre-auditing and data modification mapping
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Debate-de-Planejamento-Intera-o-2-Sum-rio-da-1755696521047_1755696521055.txt
Due: none

Refine proposal data handling by removing unnecessary type conversions
  AUDITORIA_FRONTEND_CONSISTENCIA_V1.0.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Auditoria-de-Consist-ncia-de-Frontend-Sum-rio-d-1755697354456_1755697354458.txt
  server/routes/inter.ts
  server/routes/propostas-corrigir-sincronizacao.ts
Due: eslint --fix --quiet, prettier --write

Confirm integrity of PDF generation worker by verifying no critical data risks
  AUDITORIA_TRANSACIONAL_PDF_WORKER_V1.0.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Auditoria-de-Integridade-Transacional-Sum-rio-d-1755697750588_1755697750593.txt
Due: prettier --write

Identify critical data inconsistency risk in financial transaction processing
  AUDITORIA_TRANSACIONAL_BOLETO_SYNC_V1.0.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Auditoria-de-Integridade-Transacional-Sum-rio-d-1755698167003_1755698167006.txt
Due: prettier --write

Ensure payment processing is reliably handled with atomic transactions
  PAM_V1.0_TRANSACAO_ATOMICA_IMPLEMENTADA.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Implementa-o-de-Transa-o-At-mica-Sum-rio-da-M-1755698794588_1755698794591.txt
  server/routes/webhooks.ts
Due: eslint --fix --quiet, prettier --write

Allow analysts to upload documents to the platform
  PAM_V1.0_UI_UPLOAD_ANALISTAS_IMPLEMENTADO.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Habilitar-a-funciona-1755699225382_1755699225388.txt
  client/src/components/propostas/DocumentsStep.tsx
Due: eslint --fix --quiet, prettier --write

Add automated tests for critical income commitment business rule
  PAM_V1.0_TESTES_AUTOMATIZADOS_IMPLEMENTADO.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Criar-um-teste-de-in-1755699718731_1755699718733.txt
  package-lock.json
  package.json
  tests/integration/pre-approval.test.ts
  tests/unit/pre-approval-service.test.ts
Due: eslint --fix --quiet, prettier --write

Improve currency parsing to handle Brazilian and international formats correctly
  PAM_V1.0_HOTFIX_PARSING_MONETARIO_CORRIGIDO.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Hotfix-de-Corrup-o-de-Dados-Sum-rio-da-Miss-o--1755700854359_1755700854364.txt
  server/services/preApprovalService.ts
  tests/unit/pre-approval-service.test.ts
Due: eslint --fix --quiet, prettier --write

Organize and document all resolved bugs with detailed solutions
  docs/bugs-solved/README.md
  docs/bugs-solved/critical/2025-08-20-transacao-atomica-webhooks.md
  docs/bugs-solved/critical/2025-08-21-parsing-monetario-multiplicacao-100x.md
  docs/bugs-solved/high/2025-08-20-upload-ui-role-analista.md
  docs/bugs-solved/medium/2025-08-21-testes-pre-approval-service.md
  replit.md
Due: prettier --write

Establish a mandatory bug documentation policy with a dedicated folder
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Pr-Auditoria-de-Modificadores-de-Estado-Sum-ri-1755701549789_1755701549791.txt
  docs/bugs-solved/BUG_DOCUMENTATION_TEMPLATE.md
  replit.md
Due: prettier --write

Audit system for asynchronous data modifications
  PAM_V1.0_AUDITORIA_MODIFICADORES_ESTADO.md
  replit.md
Due: prettier --write

Complete detailed audit of data persistence mapping across systems
  PAM_V1.0_AUDITORIA_CAMADA_PERSISTENCIA.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Auditoria-da-Camada-de-Persist-ncia-Sum-rio-da--1755702557974_1755702557977.txt
  replit.md
Due: prettier --write

Confirm data integrity across critical transaction workflows
  PAM_V1.0_AUDITORIA_CICLO_VIDA_DADOS.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Auditoria-do-Ciclo-de-Vida-dos-Dados-Sum-rio-da-1755703085016_1755703085018.txt
Due: prettier --write

Update documentation to reflect successful data audit and system readiness
  replit.md
Due: prettier --write

Path conditions:
  eslint --fix --quiet: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
