Repository vapo643/SimHBSftwerdv: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --quiet",
    "prettier --write"
  ],
  "*.{json,css,md}": [
    "prettier --write"
  ]
}

Apply bold Poppins font across the application
  client/src/index.css
  tailwind.config.ts
Due: eslint --fix --quiet, prettier --write

Adjust document font to normal weight, limiting bold to specific elements
  client/src/index.css
Due: prettier --write

Update project to use the Inter font family for improved readability
  client/src/index.css
  tailwind.config.ts
Due: eslint --fix --quiet, prettier --write

Make the default font weight bold across the application
  client/src/index.css
Due: prettier --write

Update default font to Roboto for a consistent brand appearance
  client/src/index.css
  tailwind.config.ts
Due: eslint --fix --quiet, prettier --write

Update font to Nunito Sans for a bolder appearance
  client/src/index.css
  tailwind.config.ts
Due: eslint --fix --quiet, prettier --write

Update the platform's font to use Inter Extra Bold for improved readability
  client/src/index.css
  tailwind.config.ts
Due: eslint --fix --quiet, prettier --write

Restore Poppins font and adjust default font weight for improved visual appearance
  client/src/index.css
  tailwind.config.ts
Due: eslint --fix --quiet, prettier --write

Update website font to use Montserrat for a refreshed visual appearance
  client/src/index.css
  tailwind.config.ts
Due: eslint --fix --quiet, prettier --write

Update default font weight to SemiBold for improved readability
  client/src/index.css
Due: prettier --write

Improve website styling by allowing external Google Fonts
  server/middleware/strictCSP.ts
Due: eslint --fix --quiet, prettier --write

Update the platform to use the Poppins font
  client/src/index.css
  tailwind.config.ts
Due: eslint --fix --quiet, prettier --write

Audit role-based access control to verify system security and permissions
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V9-3-RBAC-AUDIT-001-Auditoria-de-Defini-o-e-Configura--1756734409381_1756734409382.txt
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V9-3-RBAC-AUDIT-001-Auditoria-de-Defini-o-e-Configura--1756734438527_1756734438528.txt
  attached_assets/Pasted-2-Desenvolvedor-Full-Stack-V10-Orquestrador-de-Refinamento-de-IA-Gem-personalizado-Mostrar-raci-1756734425493_1756734425494.txt
Due: none

Enhance system security by implementing comprehensive role-based access control policies
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V9-4-RBAC-FIX-001-Implementar-RLS-para-Roles-Ausentes--1756736052553_1756736052554.txt
  attached_assets/Pasted-Arquiteto-Chefe-comando-recebido-A-sua-explica-o-detalhada-da-l-gica-de-neg-cio-para-cada-role--1756735894690_1756735894691.txt
  docs/bugs-solved/security/2025-09-01-operation-guardiao-rbac-audit.md
  drizzle/migrations/0004_add_financial_rls_policies.sql
  replit.md
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Enhance audit process with scenario-based business logic validation
  attached_assets/Pasted-Doutrina-de-Integra-o-do-PACN-V1-0-Da-Auditoria-de-C-digo-Auditoria-de-Comportamento-Para-acabar-1756736920604_1756736920604.txt
  attached_assets/Pasted-Proposta-de-Evolu-o-Protocolo-de-Auditoria-de-Cen-rio-de-Neg-cio-PACN-V1-0-O-nosso-m-todo-atual--1756736905488_1756736905489.txt
Due: none

Establish business scenario audit protocols to eliminate superficial reviews
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V9-5-RBAC-AUDIT-002-Auditoria-Funcional-de-RBAC--1756737191353_1756737191353.txt
  replit.md
Due: prettier --write

Expand the universal audit protocol to encompass all types of code and system analysis
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V9-5-RBAC-AUDIT-002-Auditoria-Funcional-de-RBAC--1756737591431_1756737591432.txt
  replit.md
Due: prettier --write

Update project overview and refine compliance evidence requirements
  replit.md
Due: prettier --write

Enhance proposal creation with comprehensive data validation and persistence auditing
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V10-0-DATA-AUDIT-001-Auditoria-de-Persist-ncia-Campo-a-C-1756738787897_1756738787897.txt
  attached_assets/Pasted-Arquiteto-Chefe-comando-recebido-Sua-diretriz-a-prova-final-do-nosso-compromisso-com-a-Proprieda-1756738685047_1756738685049.txt
  docs/lacre-de-ouro/FASE-1-AUDITORIA-INTEGRIDADE-CAMPOS.md
  replit.md
  server/modules/proposal/application/CreateProposalUseCase.ts
  server/modules/proposal/domain/Proposal.ts
  server/modules/proposal/infrastructure/ProposalRepository.ts
  server/modules/proposal/presentation/proposalController.ts
Due: eslint --fix --quiet, prettier --write

Enhance data consistency checks for user proposals
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V10-1-DATA-AUDIT-002-Auditoria-de-Consist-ncia-de-Dados--1756741318537_1756741318538.txt
  docs/lacre-de-ouro/FASE-2-AUDITORIA-CONSISTENCIA-DADOS.md
Due: prettier --write

Improve proposal data retrieval to significantly reduce response times
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V10-2-PERF-FIX-001-Remedia-o-de-Performance-N-1--1756742876823_1756742876824.txt
  server/lib/supabase.ts
  server/modules/proposal/infrastructure/ProposalRepository.ts
Due: eslint --fix --quiet, prettier --write

Fix error when displaying proposal values by correctly formatting currency
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1756743518928_1756743518929.txt
  server/modules/proposal/presentation/proposalController.ts
Due: eslint --fix --quiet, prettier --write

Improve currency formatting and partner display on dashboard
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1756743999735_1756743999735.txt
  client/src/lib/utils.ts
  client/src/pages/dashboard.tsx
Due: eslint --fix --quiet, prettier --write

Improve proposal data retrieval and server startup performance
  attached_assets/Pasted--rest-express-1-0-0-dev-Database-Configuring-Supabase-connection-Database-Connection-p-1756744500198_1756744500200.txt
  client/src/pages/dashboard.tsx
  server/index.ts
  server/lib/redis-config.ts
  server/modules/proposal/infrastructure/ProposalRepository.ts
  server/modules/proposal/presentation/proposalController.ts
Due: eslint --fix --quiet, prettier --write

Make detailed security logging optional to reduce noise
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V10-3-DATA-AUDIT-003-Auditoria-de-Integra-o-com-Gera-o-1756745895785_1756745895785.txt
  server/middleware/strictCSP.ts
Due: eslint --fix --quiet, prettier --write

Improve CCB generation by ensuring all necessary data is present and correctly mapped
  docs/operations/OPERACAO-LACRE-DE-OURO-FINAL.md
  replit.md
  server/scripts/audit/DATA-AUDIT-003-REPORT.md
  server/scripts/audit/verify-ccb-mapping.ts
  server/services/ccbGenerationService.ts
Due: eslint --fix --quiet, prettier --write

Update documentation for security protocols and bug reporting policies
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V10-4-LACRE-VALIDATE-001-Valida-o-Final-Integrada--1756748046646_1756748046648.txt
  replit.md
Due: prettier --write

Diagnose and fix proposal display issues in analysis and formalization queues
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V11-0-VISUAL-AUDIT-001-Diagn-stico-da-Fila-de-An-lise-e--1756749947547_1756749947549.txt
Due: none

Add specialized endpoint for document analysis and update frontend to use it
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V11-1-VISUAL-FIX-001-1-Remedia-o-da-Fila-de-An-lise--1756750709428_1756750709430.txt
  client/src/pages/fila-analise.tsx
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Initiate final validation protocol for production readiness
  attached_assets/Pasted-Comando-recebido-Reta-final-engajada-A-proximidade-do-deploy-aciona-o-protocolo-de-valida-o-ma-1756751663291_1756751663294.txt
Due: none

Investigate and fix proposal detail viewing errors
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V11-2-VISUAL-AUDIT-002-Diagn-stico-do-Fluxo-de-Detalhes--1756752096031_1756752096033.txt
Due: none

Improve how client data is displayed to prevent rendering errors
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1756752798440_1756752798442.txt
  client/src/pages/credito/analise.tsx
Due: eslint --fix --quiet, prettier --write

Fix error that prevents users from viewing proposal analysis
  docs/bugs-solved/ui/2025-09-01-visual-audit-002-object-rendering-error.md
  replit.md
Due: prettier --write

Update dashboard to display correct financial proposal information
  client/src/pages/dashboard.tsx
  replit.md
Due: eslint --fix --quiet, prettier --write

Improve display of client financial and personal data
  client/src/pages/credito/analise.tsx
  docs/bugs-solved/ui/2025-09-01-visual-audit-004-analysis-page-data-mapping.md
Due: eslint --fix --quiet, prettier --write

Ensure financial screens display correct data based on user roles
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V11-3-VISUAL-AUDIT-003-Auditoria-das-Telas-Financeiras--1756754842876_1756754842878.txt
  docs/bugs-solved/ui/2025-09-01-financial-endpoints-architecture-audit.md
  replit.md
Due: prettier --write

Improve debugging and error handling for document generation
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1756755515601_1756755515603.txt
Due: none

Add debugging information to proposal routes for better error tracking
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Add dedicated route for formalization proposals with role-based filtering
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1756756363095_1756756363097.txt
  server/routes/propostas/core.ts
Due: eslint --fix --quiet, prettier --write

Investigate and document Redis connection issues causing test failures
  attached_assets/Pasted--PROTOCOLO-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-1-Princ-pio-Mestre-Transfer-ncia-de-C-1756756618194_1756756618195.txt
  docs/diagnostics/REDIS_CONNECTION_LEAK_FORENSIC_REPORT.md
Due: prettier --write
