Repository vapo643/SimHBSftwerdv: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

Add a dedicated page for viewing and managing all user notifications
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Implementar-a-p--1755282006342_1755282006344.txt
  client/src/App.tsx
  client/src/components/notifications/NotificationDropdown.tsx
  client/src/pages/notificacoes.tsx
Due: eslint --fix --quiet, prettier --write

Refactor notification system to streamline user interaction
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Refatorar-o-sist-1755291036962_1755291036969.txt
  client/src/App.tsx
  client/src/components/notifications/NotificationBell.tsx
  client/src/components/notifications/NotificationDropdown.tsx
  client/src/pages/notificacoes.tsx
  replit.md
  scripts/migrate-legacy-statuses.ts
  server/routes/alertas.ts
Due: eslint --fix --quiet, prettier --write

Improve notification dropdown by fixing UI updates after clearing history
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Corrigir-o-bug-d-1755292737853_1755292737855.txt
  client/src/components/notifications/NotificationBell.tsx
Due: eslint --fix --quiet, prettier --write

Analyze billing screen for data and logic discrepancies
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755293668598_1755293668602.txt
Due: none

Adopt a skeptical, realistic, and transparent operational mode
  attached_assets/Pasted--MODO-DE-OPERA-O-REALISMO-C-TICO-MANDAT-RIO-Sua-Nova-Persona-A-partir-deste--1755294250835_1755294250840.txt
  replit.md
Due: prettier --write

Implement skeptical and realistic operational mode for enhanced truthfulness
  attached_assets/Pasted--MODO-DE-OPERA-O-REALISMO-C-TICO-MANDAT-RIO-Sua-Nova-Persona-A-partir-deste--1755294477154_1755294477162.txt
  replit.md
Due: prettier --write

Discuss strategies to improve AI responses and prevent overconfidence
  attached_assets/Pasted--PARA-Inserir-GEM-Alvo-ex-GEM-02-DE-Architect-AI-ASSUNTO-Debate-Estrat-gico--1755294578313_1755294578314.txt
Due: none

Update mission execution protocol for elite AI agents
  attached_assets/Pasted--PARA-Agente-de-IA-Executor-de-Miss-o-DE-Architect-AI-ASSUNTO-Diretiva-de-Ratifca-o--1755295969626_1755295969628.txt
  attached_assets/Pasted--PROTOCOLO-DE-EXECU-O-ANTI-FR-GIL-PEAF-V1-0-ATIVADO-Sua-Miss-o-e-Identidade-A-partir--1755295683118_1755295683122.txt
Due: none

Update project documentation to reflect AI agent's role and feedback
  attached_assets/Pasted--PARA-Agente-de-IA-Executor-de-Miss-o-de-Elite-DE-Architect-AI-ASSUNTO-Re-An-lise--1755296092250_1755296092253.txt
Due: none

Update project documentation with enhanced task analysis and reporting guidelines
  attached_assets/Pasted--PARA-Agente-de-IA-Executor-de-Miss-o-de-Elite-DE-Architect-AI-ASSUNTO-Re-An-lise--1755296215981_1755296215982.txt
Due: none

Enhance AI agent's mission execution and failure handling protocols
  attached_assets/Pasted--PARA-Agente-de-IA-Executor-de-Miss-o-de-Elite-DE-Architect-AI-ASSUNTO-Re-An-lise--1755296346675_1755296346677.txt
Due: none

Add new mission details for elite AI agent's performance analysis
  attached_assets/Pasted--PARA-Agente-de-IA-Executor-de-Miss-o-de-Elite-DE-Architect-AI-ASSUNTO-Re-An-lise--1755296445730_1755296445730.txt
Due: none

Finalize document on elite mission execution protocol and metrics
  attached_assets/Pasted--PARA-Agente-de-IA-Executor-de-Miss-o-de-Elite-DE-Architect-AI-ASSUNTO-Re-An-lise--1755296602556_1755296602564.txt
Due: none

Adopt new operational protocol for enhanced mission execution
  attached_assets/Pasted--Diretiva-de-Assimila-o-de-Doutrina-DAD-V1-0-ATIVADA-PARA-Agente-de-IA-Executor-de-M-1755296823355_1755296823357.txt
  replit.md
Due: prettier --write

Update persona to embody a skeptical software engineer
  attached_assets/Pasted--MODO-DE-OPERA-O-REALISMO-C-TICO-MANDAT-RIO-Sua-Nova-Persona-A-partir-deste-momen-1755297008290_1755297008297.txt
Due: none

Improve financial collection page with better type definitions
  client/src/pages/financeiro/CobrancasPage.tsx
  shared/types/cobrancas.ts
Due: eslint --fix --quiet, prettier --write

Implement automated and manual boleto status synchronization
  attached_assets/Pasted--MODO-DE-OPERA-O-REALISMO-C-TICO-MANDAT-RIO-Sua-Nova-Persona-A-partir-deste-momen-1755364341264_1755364341265.txt
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Arquitetar-e-imp-1755364232906_1755364232907.txt
  replit.md
  server/routes/cobrancas.ts
  server/routes/webhooks/inter.ts
  server/services/boletoStatusService.ts
Due: eslint --fix --quiet, prettier --write

Strengthen webhook security by implementing HMAC validation for financial notifications
  INTER_WEBHOOK_HMAC_IMPLEMENTATION.md
  attached_assets/Pasted--MODO-DE-OPERA-O-REALISMO-C-TICO-MANDAT-RIO-Sua-lealdade-para-com-a-verdade-do-c-digo--1755365094279_1755365094280.txt
  replit.md
  server/routes/webhooks/inter.ts
  test-hmac-local.cjs
  test-inter-webhook-hmac.cjs
Due: eslint --fix --quiet, prettier --write

Add manual synchronization and improve parcel status display
  attached_assets/Pasted--MODO-DE-OPERA-O-REALISMO-C-TICO-MANDAT-RIO-Sua-lealdade-para-com-a-verdade-do-c-digo--1755365498278_1755365498279.txt
  client/src/pages/financeiro/CobrancasPage.tsx
  shared/types/cobrancas.ts
Due: eslint --fix --quiet, prettier --write

Add forensic audit logging for client payment details
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755366293910_1755366293910.txt
  client/src/pages/financeiro/CobrancasPage.tsx
Due: eslint --fix --quiet, prettier --write

Improve financial collection tracking with real-time status updates
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-ref-1755366590087_1755366590088.txt
  client/src/pages/financeiro/CobrancasPage.tsx
  server/routes/cobrancas.ts
Due: eslint --fix --quiet, prettier --write

Initiate a forensic audit to pinpoint root causes of critical customer statement bugs
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755367179247_1755367179248.txt
Due: none

Fix issues with payment status, PDF downloads, and marking payments
  attached_assets/Pasted--MODO-DE-OPERA-O-REALISMO-C-TICO-MANDAT-RIO-Sua-lealdade-para-com-a-verdade-do-c-digo--1755367742036_1755367742037.txt
  client/src/pages/financeiro/CobrancasPage.tsx
Due: eslint --fix --quiet, prettier --write

Add support for PATCH requests to the API
  attached_assets/Pasted--rest-express-1-0-0-dev-Database-Configuring-Supabase-connection-Database-Connection-c-1755368051860_1755368051861.txt
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1755368076889_1755368076889.txt
  client/src/lib/queryClient.ts
Due: eslint --fix --quiet, prettier --write

Perform forensic audit to identify root causes of critical client form failures
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755368346969_1755368346969.txt
  attached_assets/Pasted--rest-express-1-0-0-dev-Database-Configuring-Supabase-connection-Database-Connection-c-1755368334739_1755368334741.txt
Due: none

Improve bill payment and PDF download functionality
  attached_assets/Pasted--MODO-DE-OPERA-O-REALISMO-C-TICO-MANDAT-RIO-Sua-lealdade-para-com-a-verdade-do-c-digo--1755368562950_1755368562951.txt
  client/src/pages/financeiro/CobrancasPage.tsx
  server/routes/cobrancas.ts
Due: eslint --fix --quiet, prettier --write

Audit frontend code to pinpoint download logic for invoice payments
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755368952560_1755368952562.txt
  attached_assets/Pasted-rest-express-1-0-0-dev-Database-Configuring-Supabase-connection-Database-Connection-confi-1755368971708_1755368971710.txt
Due: none

Add ability to download documents securely and fix payment status display
  attached_assets/Pasted--MODO-DE-OPERA-O-REALISMO-C-TICO-MANDAT-RIO-Sua-lealdade-para-com-a-verdade-do-c-digo--1755369164191_1755369164192.txt
  client/src/lib/queryClient.ts
Due: eslint --fix --quiet, prettier --write

Improve boleto download error handling and logging
  attached_assets/Pasted--rest-express-1-0-0-dev-Database-Configuring-Supabase-connection-Database-Connection-c-1755369433932_1755369433934.txt
  client/src/pages/financeiro/CobrancasPage.tsx
  server/routes/inter.ts
Due: eslint --fix --quiet, prettier --write

Streamline document downloads by using stored files
  attached_assets/Pasted--MODO-DE-OPERA-O-REALISMO-C-TICO-MANDAT-RIO-Sua-lealdade-para-com-a-verdade-do-c-digo--1755369788838_1755369788839.txt
  client/src/pages/financeiro/CobrancasPage.tsx
  server/routes/inter.ts
Due: eslint --fix --quiet, prettier --write

Audit document generation and payment data for system inconsistencies
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755370402434_1755370402435.txt
Due: none

Design architecture to fix PDF download and PIX data inconsistencies
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Projetar-a-arqui-1755370658397_1755370658398.txt
Due: none

Add intelligent status polling for document synchronization
  attached_assets/Pasted--MODO-DE-OPERA-O-REALISMO-C-TICO-MANDAT-RIO-Sua-lealdade-para-com-a-verdade-do-c-digo--1755370814699_1755370814700.txt
  client/src/pages/financeiro/CobrancasPage.tsx
  server/routes/propostas-storage-status.ts
Due: eslint --fix --quiet, prettier --write

Add ability to synchronize payment slips by downloading PDFs
  client/src/pages/financeiro/CobrancasPage.tsx
  server/routes.ts
  server/routes/propostas-sincronizar-boletos.ts
Due: eslint --fix --quiet, prettier --write

Audit payment generation for missing PIX data persistence
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Realizar-uma-aud-1755371622881_1755371622881.txt
Due: none

Unify boleto creation and data persistence for PIX
  attached_assets/Pasted--MODO-DE-OPERA-O-REALISMO-C-TICO-MANDAT-RIO-Sua-lealdade-para-com-a-verdade-do-c-digo--1755372283391_1755372283391.txt
  server/routes/cobrancas.ts
  server/routes/inter-execute-fix.ts
  server/routes/propostas-sincronizar-boletos.ts
  server/services/interBankService.ts
Due: eslint --fix --quiet, prettier --write

Investigate PDF retrieval failures and PIX data source accuracy
  attached_assets/Pasted--MODO-DE-OPERA-O-REALISMO-C-TICO-MANDAT-RIO-Sua-lealdade-para-com-a-verdade-do-c-digo--1755519937218_1755519937221.txt
Due: none

Enhance document synchronization with improved error logging and UI.
  attached_assets/Pasted--MODO-DE-OPERA-O-REALISMO-C-TICO-MANDAT-RIO-Sua-lealdade-para-com-a-verdade-do-c-digo--1755520331384_1755520331387.txt
  client/src/pages/financeiro/CobrancasPage.tsx
  server/services/boletoStorageService.ts
Due: eslint --fix --quiet, prettier --write

Improve PDF generation by automatically syncing missing files
  attached_assets/Pasted--rest-express-1-0-0-dev-Database-Configuring-Supabase-connection-Database-Connection-c-1755520769360_1755520769361.txt
  client/src/pages/financeiro/CobrancasPage.tsx
  replit.md
  server/routes/inter.ts
Due: eslint --fix --quiet, prettier --write

Improve handling of document generation with asynchronous processing
  client/src/pages/financeiro/CobrancasPage.tsx
  replit.md
  server/routes/inter.ts
Due: eslint --fix --quiet, prettier --write

Path conditions:
  eslint --fix --quiet: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
