Repository vapo643/SimHBSftwerdv: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

Update proposal history to display audit logs and creation details
  .replit
  client/src/components/HistoricoCompartilhado.tsx
  server/repositories/observacoes.repository.ts
  server/routes/propostas-carne.ts
Due: eslint --fix --quiet, prettier --write

Update proposal history display and improve log retrieval logic
  .replit
  client/src/components/HistoricoCompartilhado.tsx
  server/routes/propostas-carne.ts
Due: eslint --fix --quiet, prettier --write

Update proposal analysis to refresh communication history
  .replit
  client/src/pages/credito/analise.tsx
Due: eslint --fix --quiet, prettier --write

Improve proposal history tracking and database connection checks
  .replit
  server/lib/status-context-helper.ts
  server/routes/propostas-carne.ts
Due: eslint --fix --quiet, prettier --write

Improve proposal data handling for accurate client information display
  .replit
Due: none

Improve proposal data retrieval to handle API response variations
  .replit
  client/src/components/HistoricoCompartilhado.tsx
Due: eslint --fix --quiet, prettier --write

Standardize API query keys and response handling for improved consistency
  .replit
  client/src/components/HistoricoCompartilhado.tsx
  client/src/components/propostas/EtapaFormalizacaoControl.tsx
  client/src/hooks/queries/queryKeys.ts
  client/src/lib/apiClient.ts
  client/src/lib/queryClient.ts
  client/src/pages/aceite-atendente.tsx
  client/src/pages/credito/analise.tsx
  client/src/pages/dashboard.tsx
  client/src/pages/fila-analise.tsx
  client/src/pages/formalizacao.tsx
  client/src/pages/pagamentos.tsx
Due: eslint --fix --quiet, prettier --write

Update proposal list to display corrected client data
  .replit
Due: none

Update proposal analysis to ensure all client data fields are correctly displayed
  .replit
  PAM_V1.0_AUDITORIA_FINAL_COBRANCAS.md
  PAM_V1.0_AUDITORIA_FORENSE_BUSCA_CPF.md
  PAM_V1.0_AUDITORIA_FORENSE_PERDA_DADOS_COMPLETA.md
  PAM_V1.0_AUDITORIA_FORENSE_QUERY_COBRANCAS.md
  PAM_V1.0_AUDITORIA_MODAL_VERACIDADE.md
  PAM_V1.0_AUDITORIA_MODIFICADORES_ESTADO.md
  PAM_V1.0_COBRANCAS_ACTIONS.md
  PAM_V1.0_STATUS_CONTEXTUAL_TODAS_TELAS.md
  PAM_V1.0_SYNC_COBRANCAS.md
  PAM_V1.0_TESTES_RUNTIME_VALIDATION_IMPLEMENTADO.md
  PAM_V1.0_TRANSACAO_ATOMICA_IMPLEMENTADA.md
  PAM_V1.0_UI_UPLOAD_ANALISTAS_IMPLEMENTADO.md
  PAM_V1.0_USER_FORM_CORRECTION_COMPLETE.md
  PAM_V1.1_AUDITORIA_ESTADO_ATUAL_TAC_PRODUTOS.md
  PLANO_DE_ENRIQUECIMENTO_DOMINIO.md
  PLANO_DE_SOBERANIA_FINAL.md
  PRODUCTION_READINESS_ASSESSMENT.md
  PRODUCTION_SECRETS_REQUIRED.md
  PROPOSTA_SEPARACAO_AMBIENTES_DATABASE.md
  RECONCILIACAO_IMPLEMENTADA.md
  RELATORIO_CONFORMIDADE_SPRINT_0.md
  RELATORIO_DE_CONFORMIDADE_FINAL_S0.md
  RELATORIO_DE_VERIFICACAO_FINAL_S0.md
  RELATORIO_DIAGNOSTICO_FALHAS_DADOS_AUSENTES_V1.0.md
  RELATORIO_DIAGNOSTICO_FALHAS_TESTE_V1.0.md
  RELATORIO_FALHAS_FORMALIZACAO.md
  RELATORIO_FINAL_CONFORMIDADE_SPRINT_0.md
  RELATORIO_FINAL_DE_CONFORMIDADE_ABSOLUTA_S0.md
  RELATORIO_FINAL_REMEDIACAO_PAM_V15.md
  RELATORIO_GEM_02V_ESTABILIZACAO_COMPLETA.md
  RELATORIO_PROGRESSO_SPRINT_0.md
  RELATORIO_VALIDACAO_SCRIPT_V1.0.md
  RELATORIO_VERIFICACAO_FINAL_S0.md
  ROADMAP_MESTRE_ACO_LIQUIDO.md
  SITUATION_REPORT_CRITICAL.md
  client/src/pages/credito/analise.tsx
  refatoracao_fase1_resumo.txt
Due: eslint --fix --quiet, prettier --write

Improve proposal analysis by correctly mapping client data
  PACKAGE_JSON_COM_OVERRIDES.md
Due: prettier --write

Enhance proposal listing and analysis with improved data accuracy
  .replit
Due: none

Improve proposal data accuracy and display on the listing screen
  .replit
Due: none

Update client-side proposal data display for accuracy
  .replit
  CONTEXTO_OPERACAO_ACO_LIQUIDO.md
  CONTRIBUTING.md
  DEEPTHINK_MEGA_PROMPT_FORMALIZACAO_CRISIS.md
  ESLINT_DEBT_IMPACT_ANALYSIS.md
  FINAL_DEPLOYMENT_VERDICT.md
  FLUXO_FILA_ANALISE.md
  GUIA_CONFIGURACAO_BANCO_TESTE.md
  INSTRUCOES_PACKAGE_JSON.md
  client/src/pages/credito/analise.tsx
Due: eslint --fix --quiet, prettier --write

Improve data mapping for client contact information
  client/src/pages/credito/analise.tsx
Due: eslint --fix --quiet, prettier --write

Improve data mapping for client email and phone fields
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1758052614936_1758052614938.txt
  client/src/pages/credito/analise.tsx
Due: eslint --fix --quiet, prettier --write

Fix proposals not displaying and query errors by adjusting data fetching and logging
  .replit
  client/src/contexts/FeatureFlagContext.tsx
  client/src/lib/queryClient.ts
Due: eslint --fix --quiet, prettier --write

Fix error preventing proposals from displaying on the analysis queue and dashboard
  .replit
Due: none

Improve how proposal data is fetched and displayed for users
  client/src/contexts/FeatureFlagContext.tsx
  client/src/lib/queryClient.ts
Due: eslint --fix --quiet, prettier --write

Make proposals appear correctly on analysis queue and dashboard screens
  client/src/pages/credito/fila.tsx
  client/src/pages/dashboard.tsx
Due: eslint --fix --quiet, prettier --write

Update data fetching to correctly handle API responses
  .replit
  client/src/pages/credito/fila.tsx
  client/src/pages/dashboard.tsx
Due: eslint --fix --quiet, prettier --write

Improve proposal data handling and fix formalization screen issues
  .replit
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1758111322120_1758111322124.txt
  attached_assets/Pasted-STORAGE-Found-1-files-in-directory-docs-prop-360651ad-bdc4-4fb6-bb35-55405f59142c-SERVICE-LOG--1758111382441_1758111382442.txt
Due: none

Update proposal data retrieval to use correct client name field
  .replit
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Improve system stability and fix proposal listing errors
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1758112157536_1758112157538.txt
Due: none

Update proposal data mapping and ordering for client information
  attached_assets/Pasted-7c-4815-8ebc-b0912c05d5b6-method-GET-url-api-alertas-notificacoes-path-api-alertas-not-1758112174730_1758112174731.txt
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Improve proposal data display and formalization process
  .replit
  client/src/mappers/proposta.mapper.ts
  client/src/pages/formalizacao.tsx
Due: eslint --fix --quiet, prettier --write

Remove debugging logs from the loan formalization route
  attached_assets/Pasted--PACOTE-DE-DEBATE-T-CNICO-1-4-AUDITORIA-FORENSE-DO-PAYLOAD-DA-API-Sum-rio-da-Miss--1758113217193_1758113217194.txt
  attached_assets/Pasted-2-Desenvolvedor-Full-Stack-V10-Orquestrador-de-Refinamento-de-IA-Gem-personalizado-Mostrar-raci-1758113228024_1758113228024.txt
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Standardize proposal data by removing backend aliases for schema integrity
  .replit
  attached_assets/Pasted--PACOTE-DE-DEBATE-T-CNICO-2-4-ARQUITETURA-DA-CORRE-O-DE-CONTRATO-Sum-rio-da-Miss--1758113911766_1758113911770.txt
  attached_assets/Pasted-Veredito-da-Janela-de-Investiga-o-1-HIP-TESE-CONFIRMADA-COM-PROVA-IRREFUT-VEL-A-auditoria-foren-1758113925615_1758113925616.txt
Due: none

Fix proposal data display by correcting API field names
  .replit
  attached_assets/Pasted-Comando-recebido-A-fase-de-arquitetura-est-conclu-da-A-sua-an-lise-e-o-veredito-est-o-corretos-e--1758114951134_1758114951140.txt
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Improve loan formalization by correctly displaying CCB generation status
  .replit
  client/src/pages/formalizacao.tsx
Due: eslint --fix --quiet, prettier --write

Improve CCB generation detection logic for proposals
  client/src/pages/formalizacao.tsx
Due: eslint --fix --quiet, prettier --write

Improve the detection of generated documents for loan formalization
  .replit
  client/src/pages/formalizacao.tsx
Due: eslint --fix --quiet, prettier --write

Add debugging logs to the loan formalization page to diagnose errors
  .replit
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1758117562529_1758117562531.txt
  client/src/pages/formalizacao.tsx
Due: eslint --fix --quiet, prettier --write

Correctly display the list of proposals when no ID is present
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1758117825648_1758117825651.txt
  client/src/pages/formalizacao.tsx
Due: eslint --fix --quiet, prettier --write

Fix connection error when fetching event data
  attached_assets/Pasted-events-1-GET-https-874e2dce-5057-49ae-8fb5-21491c9977ba-00-1xresvzm7is3g-janeway-replit-dev-api-1758118088828_1758118088831.txt
Due: none

Add JWT authentication to real-time event stream
  client/src/pages/formalizacao.tsx
  server/routes/events.ts
Due: eslint --fix --quiet, prettier --write

Improve proposal formalization with enhanced API and event handling
  attached_assets/Pasted--isLoading-true-hasError-false-totalPropostas-0-propostas-Array-0-primeiraPropostaStatus--1758118500349_1758118500350.txt
Due: none

Path conditions:
  eslint --fix --quiet: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
