Repository vapo643/SimHBSftwerdv: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --quiet",
    "prettier --write"
  ],
  "*.{json,css,md}": [
    "prettier --write"
  ]
}

Outline a plan for safe data migration during system updates
  attached_assets/Pasted--PARA-Agente-de-IA-Executor-de-Miss-o-de-Elite-DE-Architect-AI-ASSUNTO-Re-An-lise--1755615652042_1755615652047.txt
Due: none

Saved your changes before starting work
  attached_assets/Pasted--Protocolo-de-Debate-Arquitetural-de-M-ltiplas-Fases-ATIVADO-PARA-Agente-Replit-Executo-1755615868456_1755615868468.txt
Due: none

Refine risk mitigation strategy for critical data migration phase
  attached_assets/Pasted--PARA-Agente-Replit-Consultor-S-nior-de-Viabilidade-e-Risco-DE-Architect-AI-ASSUNTO--1755616006838_1755616006839.txt
Due: none

Outline plan for guiding non-technical users through complex system setup
  attached_assets/Pasted--PARA-Agente-Replit-Consultor-S-nior-de-Viabilidade-e-Risco-DE-Architect-AI-ASSUNTO--1755616160948_1755616160959.txt
Due: none

Outline plan for non-technical validation after system migration
  attached_assets/Pasted--PARA-Agente-Replit-Consultor-S-nior-de-Viabilidade-e-Risco-DE-Architect-AI-ASSUNTO--1755616326545_1755616326549.txt
Due: none

Outline a robust plan for system deployment and go-live procedures
  attached_assets/Pasted--PARA-Agente-Replit-Consultor-S-nior-de-Viabilidade-e-Risco-DE-Architect-AI-ASSUNTO--1755616499940_1755616500032.txt
Due: none

Advance application lifecycle management for production deployments
  attached_assets/Pasted--PARA-Agente-Replit-Consultor-S-nior-de-Viabilidade-e-Risco-DE-Architect-AI-ASSUNTO--1755616641637_1755616641644.txt
Due: none

Update document with detailed risk analysis for migration process
  attached_assets/Pasted--PARA-Agente-Replit-Consultor-S-nior-de-Viabilidade-e-Risco-DE-Architect-AI-ASSUNTO--1755619695286_1755619695294.txt
Due: none

Update project documentation with final migration strategy and risk assessment
  attached_assets/Pasted--PARA-Agente-Replit-Consultor-S-nior-de-Viabilidade-e-Risco-DE-Architect-AI-ASSUNTO--1755620158523_1755620158527.txt
Due: none

Create script to audit proposal status usage and identify legacy entries
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Criar-um-script-Type-1755626113355_1755626113359.txt
  server/scripts/audit-status.ts
Due: eslint --fix --quiet, prettier --write

Document the current system's status logic before refactoring
  RELATORIO_MAPEAMENTO_STATUS.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Mapear-todo-o-uso-do-1755626426707_1755626426710.txt
Due: prettier --write

Generate a script to remove outdated proposal statuses from the database
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Gerar-um-script-de-m-1755627056077_1755627056084.txt
Due: none

Update the system to use a new set of proposal statuses
  migrations/manual_remove_legacy_statuses.sql
  migrations/meta/0000_snapshot.json
  migrations/meta/_journal.json
Due: prettier --write

Implement a robust system for managing proposal status transitions
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Criar-o-servi-o-da-M-1755627854770_1755627854774.txt
  server/lib/status-context-helper.ts
  server/scripts/test-fsm.ts
  server/services/statusFsmService.ts
Due: eslint --fix --quiet, prettier --write

Adopt state machine for all proposal status transitions
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Refatorar-todos-os-p-1755628246965_1755628246979.txt
  server/routes.ts
  server/routes/pagamentos.ts
  server/routes/propostas.ts
  server/scripts/test-fsm-integration.ts
  server/services/boletoStatusService.ts
  server/storage.ts
Due: eslint --fix --quiet, prettier --write

Fix TypeScript errors in server routes to improve code reliability
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Corrigir-todos-os-er-1755629142686_1755629142693.txt
Due: none

Fix type errors in payment processing and file storage logic
  server/routes/pagamentos.ts
Due: eslint --fix --quiet, prettier --write

Map all existing application routes for comprehensive planning
  AUDITORIA_ROTAS_COMPLETA.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-REVISADO-AUDITORIA-DE-ROTAS-Sum-rio-da-Miss-o-1755630116181_1755630116193.txt
Due: prettier --write

Organize payment routes for better structure and maintainability
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Padronizar-o-m-dulo--1755630668044_1755630668049.txt
  server/routes.ts
  server/routes/pagamentos/index.ts
Due: eslint --fix --quiet, prettier --write

Organize authentication logic into a dedicated module
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Extrair-toda-a-l-gic-1755631213240_1755631213242.txt
  server/routes.ts
  server/routes/auth/index.ts
Due: eslint --fix --quiet, prettier --write

Separate user administration logic into its own module
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Extrair-a-l-gica-de--1755631753276_1755631753284.txt
  server/routes.ts
  server/routes/admin/users.ts
Due: eslint --fix --quiet, prettier --write

Organize proposal-related functionalities into a dedicated module
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Extrair-a-l-gica-de--1755632366120_1755632366122.txt
  server/routes.ts
  server/routes/propostas/core.ts
Due: eslint --fix --quiet, prettier --write

Complete the move of proposal-related features into their own module
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Finalizar-a-extra-o-1755633242527_1755633242529.txt
  server/routes.ts
  server/routes/propostas/core.ts
Due: eslint --fix --quiet, prettier --write

Isolate third-party API integrations into dedicated modules
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Extrair-as-rotas-de--1755634286320_1755634286324.txt
  replit.md
  server/routes.ts
  server/routes/integracao/circuit-breaker-test.ts
  server/routes/integracao/clicksign.ts
  server/routes/integracao/inter.ts
Due: eslint --fix --quiet, prettier --write

Improve system performance by caching commercial table data
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Implementar-uma-cama-1755634633642_1755634633644.txt
  replit.md
  server/routes/origination.routes.ts
  server/services/cacheService.ts
Due: eslint --fix --quiet, prettier --write

Add integration tests for robust status transition logic
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Criar-testes-de-inte-1755635060844_1755635060847.txt
  tests/integration/status-system.test.ts
Due: eslint --fix --quiet, prettier --write

Implement robust database cleanup for reliable test execution
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Criar-um-script-de--1755636047937_1755636047942.txt
  tests/integration/status-system.test.ts
  tests/lib/db-helper.ts
  tests/unit/status-fsm.test.ts
Due: eslint --fix --quiet, prettier --write

Enable integration tests by creating realistic test data
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Implementar-uma-fun--1755636754205_1755636754230.txt
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Implementar-uma-fun--1755636781735_1755636781737.txt
  tests/integration/status-system.test.ts
  tests/lib/db-helper.ts
Due: eslint --fix --quiet, prettier --write

Set up tests using direct database access for reliable data insertion
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Refatorar-a-fun-o-h-1755637423730_1755637423733.txt
  tests/lib/db-helper.ts
Due: eslint --fix --quiet, prettier --write

Refine system architecture with finite state machines and modular decomposition
  attached_assets/Pasted-Veredito-SUCESSO-ABSOLUTO-O-BLOQUEADOR-CR-TICO-FOI-ELIMINADO-Avalia-o-A-miss-o-4-1--1755648663532_1755648663532.txt
  replit.md
Due: prettier --write

Audit project structure and identify outdated test files
  AUDITORIA_ESTRUTURAL_SIMPIX_V1.0.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Auditoria-Estrutural-Sum-rio-da-Miss-o-O-Qu--1755648867023_1755648867024.txt
Due: prettier --write

Add a standard test script to the project's configuration file
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Adicionar-o-script-d-1755649270131_1755649270131.txt
  attached_assets/Pasted--Relat-rio-de-Auditoria-Estrutural-Projeto-Simpix-Data-19-08-2025-Auditor-GEM-07-1755649255602_1755649255602.txt
Due: none

Create a root cause analysis report for test failures
  RELATORIO_DIAGNOSTICO_FALHAS_TESTE_V1.0.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Diagn-stico-de-Testes-Sum-rio-da-Miss-o-O-Qu--1755649646012_1755649646013.txt
Due: prettier --write

Expand proposal status options and fix test import errors
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Corre-o-de-M-dulos-de-Teste-Sum-rio-da-Miss-o--1755650045881_1755650045882.txt
  server/services/statusFsmService.ts
  tests/unit/status-fsm.test.ts
Due: eslint --fix --quiet, prettier --write

Fix issues preventing proposals from loading on the dashboard
  attached_assets/Pasted--rest-express-1-0-0-dev-Database-Configuring-Supabase-connection-Database-Connection-c-1755651329624_1755651329625.txt
  attached_assets/Pasted-Unchecked-runtime-lastError-The-message-port-closed-before-a-response-was-received-Understand-this--1755651289198_1755651289199.txt
Due: none

Document the project's file structure and analyze its architectural separation
  AUDITORIA_VERIFICACAO_FINAL_PAM_V1.0.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Auditoria-de-Verifica-o-Final-Sum-rio-da-Miss--1755651798625_1755651798627.txt
Due: prettier --write

Fix broken proposal creation page by resolving user profile and rendering errors
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1755652685516_1755652685517.txt
  attached_assets/Pasted-IMPLEMENTAR-Plano-de-Corre-o-para-Cascading-Failure-na-Tela-de-Nova-Proposta-CURRENT-STATE-Evid--1755652756228_1755652756228.txt
Due: none

Fix infinite loop on new proposal screen for stable frontend operations
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V2-0-Estabiliza-o-de-Emerg-ncia-de-Frontend-Sum-rio-1755653464225_1755653464226.txt
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V2-0-Estabiliza-o-de-Emerg-ncia-de-Frontend-Sum-rio-1755653861098_1755653861098.txt
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1755653454893_1755653454894.txt
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1755653854461_1755653854463.txt
  attached_assets/Pasted-IMPLEMENTAR-Plano-de-Corre-o-para-Cascading-Failure-na-Tela-de-Nova-Proposta-CURRENT-STATE-Evid--1755652868583_1755652868584.txt
Due: none
