Repository vapo643/SimHBSftwerdv: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --quiet",
    "prettier --write"
  ],
  "*.{json,css,md}": [
    "prettier --write"
  ]
}

Improve data consistency and prevent errors by synchronizing databases
  .replit
Due: none

Update ClickSign document ID to key for consistency across services
  attached_assets/Pasted-5-User-JWT-DEBUG-IN-CIO-DA-VALIDA-O-JWT-2025-09-16-11-17-48-98-465bc575-User-JWT-1758032603056_1758032603057.txt
  attached_assets/Pasted-Arquiteto-Chefe-entendi-perfeitamente-Cessar-todas-as-opera-es-anteriores-A-sua-an-lise-de-c-1758032459917_1758032459918.txt
  server/repositories/webhook.repository.ts
  server/routes/propostas.ts.backup
  server/services/propostaService.ts
  server/services/statusFsmService.ts
Due: eslint --fix --quiet, prettier --write

Add instructions for updating package.json scripts for database migrations
  PACKAGE_JSON_INSTRUCTIONS.md
  attached_assets/Pasted--name-rest-express-version-1-0-0-type-module-license-MIT-sc-1758032811464_1758032811466.txt
Due: prettier --write

Add project setup and dependencies for a new backend service
  attached_assets/Pasted--name-rest-express-version-1-0-0-type-module-license-MIT-sc-1758032937209_1758032937209.txt
Due: none

Update project dependencies and scripts for enhanced development workflow
  PACKAGE_JSON_COMPLETO.json
Due: prettier --write

Add database migration scripts for managing schema changes
  package.json
Due: prettier --write

Improve user authentication flow and API responses
  attached_assets/Pasted--AUTH-EVENT-SIGNED-IN-Object-index-CniWoRi2-js-56-AUTH-START-Iniciando-fetchUserProfile-ind-1758033473723_1758033473724.txt
  attached_assets/Pasted--AUTH-EVENT-SIGNED-IN-Object-index-CniWoRi2-js-56-AUTH-START-Iniciando-fetchUserProfile-index-1758033417102_1758033417103.txt
Due: none

Improve data handling and error reporting for loan origination workflows
  .replit
  attached_assets/Pasted--AUTH-EVENT-SIGNED-IN-hasSession-true-tokenLength-783-index-CniWoRi2-js-56-AUTH-START-In-1758033513658_1758033513659.txt
  attached_assets/Pasted-2025-09-16-11-37-28-15-0fb7c71b-User-CONFIG-Segredo-JWT-carregado-com-sucesso-Length-88-2-1758033549915_1758033549916.txt
  client/src/main.tsx
  client/src/pages/aceite-atendente.tsx
  client/src/pages/formalizacao.tsx
  server/index.ts
Due: eslint --fix --quiet, prettier --write

Adjust frontend to use a debug entry point and temporarily disable Sentry
  .replit
  FINAL_DEPLOYMENT_VERDICT.md
  FLUXO_FILA_ANALISE.md
  GUIA_CONFIGURACAO_BANCO_TESTE.md
  PACKAGE_JSON_COMPLETO.json
  PACKAGE_JSON_INSTRUCTIONS.md
  client/index.html
  client/src/main-debug.tsx
  client/src/main.tsx
Due: eslint --fix --quiet, prettier --write

Update project dependencies to resolve conflicts
  PACKAGE_JSON_COM_OVERRIDES.md
Due: prettier --write

Improve document generation and workflow for loan origination
  PAM_V1.0_AUDITORIA_FINAL_COBRANCAS.md
  PROPOSTA_SEPARACAO_AMBIENTES_DATABASE.md
  RELATORIO_CONFORMIDADE_SPRINT_0.md
  RELATORIO_DE_CONFORMIDADE_FINAL_S0.md
  RELATORIO_DE_VERIFICACAO_FINAL_S0.md
  RELATORIO_DIAGNOSTICO_FALHAS_TESTE_V1.0.md
  RELATORIO_FINAL_CONFORMIDADE_SPRINT_0.md
Due: prettier --write

Add a secure system for generating and managing loan origination documents
  PAM_V1.0_AUDITORIA_FORENSE_BUSCA_CPF.md
  PAM_V1.0_AUDITORIA_FORENSE_PERDA_DADOS_COMPLETA.md
  PAM_V1.0_AUDITORIA_FORENSE_QUERY_COBRANCAS.md
  PAM_V1.0_AUDITORIA_MODAL_VERACIDADE.md
  RELATORIO_DIAGNOSTICO_FALHAS_DADOS_AUSENTES_V1.0.md
  RELATORIO_FALHAS_FORMALIZACAO.md
  RELATORIO_FINAL_DE_CONFORMIDADE_ABSOLUTA_S0.md
  RELATORIO_FINAL_REMEDIACAO_PAM_V15.md
  RELATORIO_GEM_02V_ESTABILIZACAO_COMPLETA.md
  RELATORIO_PROGRESSO_SPRINT_0.md
  RELATORIO_VALIDACAO_SCRIPT_V1.0.md
  RELATORIO_VERIFICACAO_FINAL_S0.md
  ROADMAP_MESTRE_ACO_LIQUIDO.md
Due: prettier --write

Improve system stability by adding contextual status tracking across all modules
  .replit
  PAM_V1.0_AUDITORIA_MODIFICADORES_ESTADO.md
  PAM_V1.0_COBRANCAS_ACTIONS.md
  PAM_V1.0_STATUS_CONTEXTUAL_TODAS_TELAS.md
Due: prettier --write

Improve application loading experience with dynamic imports
  .replit
  client/index.html
  client/src/main-debug.tsx
  client/src/main.tsx
Due: eslint --fix --quiet, prettier --write

Restored to '29a601427b8c3e56e31b2f714123d46c9b61859c'
  .replit
Due: none

Restored to 'e0e24a8716946acd8c058697fcaa6a927935c820'
  .replit
  attached_assets/Pasted--AUTH-EVENT-SIGNED-IN-Object-index-CniWoRi2-js-56-AUTH-START-Iniciando-fetchUserProfile-ind-1758029334127_1758029334128.txt
  attached_assets/Pasted--PACOTE-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-OPERA-O-DE-RECONCILIA-O-SIST-MICA-N-vel-d-1758028344904_1758028344905.txt
  attached_assets/Pasted--PACOTE-DE-DEBATE-T-CNICO-2-3-ARQUITETURA-DA-SOLU-O-DE-RECONCILIA-O-Sum-rio-da-M-1758027883847_1758027883847.txt
  attached_assets/Pasted-Identifying-the-Divergence-I-ve-isolated-the-critical-issue-to-a-schema-divergence-following-the-da-1758027857430_1758027857432.txt
  server/lib/dbCapabilities.ts
  server/lib/rls-setup.ts
  server/repositories/webhook.repository.ts
  server/routes.ts
  server/routes/formalizacao-original.ts
  server/routes/webhooks.ts
  server/services/adaptiveQuery.ts
  server/services/ccbSyncServiceRefactored.ts
  server/services/documentProcessingService.ts
Due: eslint --fix --quiet, prettier --write

Audit Vite configuration to fix frontend white screen errors
  attached_assets/Pasted--PACOTE-DE-DEBATE-T-CNICO-1-2-AUDITORIA-DE-CONFIGURA-O-VITE-HMR-Sum-rio-da-Miss-o-1758037050151_1758037050153.txt
Due: none

Fix frontend display errors by updating development server configuration
  attached_assets/Pasted--PACOTE-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-CORRE-O-CR-TICA-DE-VITE-HMR-N-vel-de-Crise-1758037868313_1758037868314.txt
Due: none

Update server configuration to improve development workflow
  vite.config.ts
Due: eslint --fix --quiet, prettier --write

Configure development server to run on all network interfaces
  .replit
  vite.config.ts
Due: eslint --fix --quiet, prettier --write

Improve URL token validation to ignore file extensions
  .replit
  server/middleware/url-token-validator.ts
Due: eslint --fix --quiet, prettier --write

Update proposal listing to use direct database access for better performance
  .replit
  server/routes/propostas-carne.ts
Due: eslint --fix --quiet, prettier --write

Add filtering for proposals to display specific queues
  .replit
  server/routes/propostas-carne.ts
Due: eslint --fix --quiet, prettier --write

Add endpoint to retrieve individual loan proposal details
  server/routes/propostas-carne.ts
Due: eslint --fix --quiet, prettier --write

Show detailed proposal data including related partner and store information
  server/routes/propostas-carne.ts
Due: eslint --fix --quiet, prettier --write

Improve proposal details by including related store, product, and partner information
  .replit
  server/routes/propostas-carne.ts
Due: eslint --fix --quiet, prettier --write

Add more customer details to proposal data for analysis
  server/routes/propostas-carne.ts
Due: eslint --fix --quiet, prettier --write

Improve proposal listing by fixing data retrieval and adding database checks
  .replit
  server/routes/propostas-carne.ts
Due: eslint --fix --quiet, prettier --write

Update proposal data format to match frontend expectations
  .replit
  attached_assets/874e2dce-5057-49ae-8fb5-21491c9977ba-00-1xresvzm7is3g.janeway.replit.dev_credito_fila - Google Chrome 16_09_2025 14_16_08_1758042980602.png
  server/routes/propostas-carne.ts
Due: eslint --fix --quiet, prettier --write

Update how user data is displayed on the analysis page
  .replit
  client/src/pages/credito/analise.tsx
Due: eslint --fix --quiet, prettier --write

Fix error that occurs when viewing proposal details
  .replit
Due: none

Update proposal analysis to display all customer information correctly
  .replit
  client/src/pages/credito/analise.tsx
Due: eslint --fix --quiet, prettier --write

Fix missing customer data and incorrect monthly income display
  .replit
Due: none
