Repository vapo643/SimHBSftwerdv: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

Enhance protocol for mission execution with double contextual validation
  replit.md
Due: prettier --write

Establish strict data contract policies for secure API payloads
  architecture/07-decisions/adr-008-api-data-contracts-payloads.md
  architecture/EXECUTION_MATRIX.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Formaliza-o-da-Estrat-gia-de-Contrato-de-Dados--1755872387872_1755872387874.txt
Due: prettier --write

Add utilities for masking sensitive personal data
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Cria-o-do-Utilit-rio-de-Mascaramento-de-Dados--1755872980546_1755872980547.txt
  docs/security/pii-masking-guide.md
  replit.md
  server/utils/masking.ts
  tests/unit/masking.test.ts
Due: eslint --fix --quiet, prettier --write

Protect sensitive customer data by masking personal information in API responses
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Aplica-o-do-Mascaramento-de-PII-em-APIs-Sum-ri-1755873272996_1755873272996.txt
  server/routes/cliente-routes.ts
  server/routes/cobrancas.ts
  server/routes/gestao-contratos.ts
Due: eslint --fix --quiet, prettier --write

Add a system to enable and disable features dynamically
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Implementa-o-do-Sistema-de-Feature-Flags-Sum-r-1755873701669_1755873701670.txt
  attached_assets/Pasted-PROTOCOLO-DE-EXECU-O-ANTI-FR-GIL-PEAF-V1-5-COM-DUPLA-VALIDA-O-CONTEXTUAL-Identidade-Operacion-1755873690127_1755873690131.txt
Due: none

Integrate feature flag system with automatic fallback and error handling
  PAM_V1.0_FEATURE_FLAGS_JA_IMPLEMENTADO.md
  replit.md
  server/services/featureFlagService.ts
Due: eslint --fix --quiet, prettier --write

Address critical compliance gaps in architectural practices
  architecture/PAM_V1.0_REMEDIAR_LACUNAS_FASE_1.md
  architecture/RELATORIO_GAP_ANALYSIS_FASE_1.md
  attached_assets/Pasted--Fase-1-Desenvolvimento-Cont-nuo-O-Durante-2-6-meses-Foco-Integrar-melhores-pr-ticas-1755874243636_1755874243647.txt
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Auditoria-de-Conformidade-da-Fase-1-Sum-rio-da--1755874469584_1755874469586.txt
Due: prettier --write

Add system to protect sensitive personal information
  architecture/PAM_V1.0_PII_MASKING_UTILITIES_IMPLEMENTADO.md
  attached_assets/Pasted--PACOTE-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-REMEDIA-O-DE-LACUNAS-CR-TICAS-DA-FASE-1-Sum-1755875213280_1755875213281.txt
  docs/bugs-solved/security/2025-08-22-pii-masking-implementation.md
  shared/utils/pii-masking.ts
  tests/unit/pii-masking.test.ts
Due: eslint --fix --quiet, prettier --write

Improve accuracy and reliability of personal data masking
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Hotfix-da-Su-te-de-Testes-de-Mascaramento-Sum-r-1755876131009_1755876131011.txt
  attached_assets/Pasted-UM-MOMENTO-EU-PERCEBI-AGORA-VOCE-MANDOU-EXECUTAR-EU-NN-PEDI-EXECU-O-EU-PEDI-AUDITORIA-DA-FSE--1755876163870_1755876163871.txt
  shared/utils/pii-masking.ts
  tests/unit/pii-masking.test.ts
Due: eslint --fix --quiet, prettier --write

Create a comprehensive audit report for architectural compliance
  architecture/RELATORIO_AUDITORIA_CONFORMIDADE_FASE_1_COMPLETO.md
  attached_assets/Pasted--Fase-1-Desenvolvimento-Cont-nuo-O-Durante-2-6-meses-Foco-Integrar-melhores-pr-ticas-1755881881832_1755881881836.txt
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Auditoria-de-Conformidade-da-Fase-1-Sum-rio-da--1755881945410_1755881945413.txt
Due: prettier --write

Complete Sprint 1, establishing data foundation and design standards
  architecture/PAM_V1.1_MODELAGEM_DADOS_FORMAL_IMPLEMENTADA.md
  architecture/PAM_V1.2_GESTAO_TRANSACOES_IMPLEMENTADA.md
  architecture/PAM_V1.3_PADROES_DESIGN_IMPLEMENTADOS.md
  replit.md
Due: prettier --write

Add audit report confirming sprint 1 deliverables and compliance
  architecture/RELATORIO_AUDITORIA_SPRINT_1_VALIDACAO.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Auditoria-de-Valida-o-do-Sprint-1-Sum-rio-da-M-1755883520232_1755883520252.txt
Due: prettier --write

Formalize frontend architecture strategy and mobile approach
  architecture/02-technical/frontend-architecture-strategy.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-4-Formaliza-o-da-Arquitetura-do-Frontend-Sum-rio-1755883839052_1755883839053.txt
Due: prettier --write

Define guidelines for managing application state effectively
  architecture/02-technical/state-management-strategy.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-5-Formaliza-o-da-Estrat-gia-de-Gest-o-de-Estado--1755884311901_1755884311902.txt
Due: prettier --write

Formalize platform migration strategy from Supabase to Azure
  architecture/03-infrastructure/platform-migration-strategy.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-7-Formaliza-o-da-Estrat-gia-de-Migra-o-de-Plataforma--1755885651737_1755885651739.txt
Due: prettier --write

Establish infrastructure management strategy using Terraform and GitOps
  architecture/03-infrastructure/infrastructure-as-code-strategy.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-8-Formaliza-o-da-Estrat-gia-de-Infrastructure-as-Code--1755886484649_1755886484656.txt
Due: prettier --write

Define a robust rollback strategy for application and database changes
  architecture/03-infrastructure/rollback-strategy.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-9-Formaliza-o-da-Estrat-gia-de-Rollback-Sum-rio--1755887006833_1755887006838.txt
Due: prettier --write

Update architectural roadmap and execution plan with detailed phase breakdowns
  architecture/EXECUTION_MATRIX.md
  architecture/ROADMAP_ARQUITETURAL_EXECUTIVO.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Auditoria-de-Conformidade-da-Fase-1-Sum-rio-da--1755887809568_1755887809578.txt
  attached_assets/ced8fbb6-a0c9-40d3-9898-fe7c4f3b4500_Sem_ttulo_1755887727903.pdf
Due: prettier --write

Add comprehensive audit report detailing compliance status across project architecture
  architecture/RELATORIO_AUDITORIA_CONFORMIDADE_FASE_1_FINAL.md
Due: prettier --write

Formalize data modeling strategy for loan proposals
  architecture/02-technical/data-modeling-strategy.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Formaliza-o-da-Modelagem-de-Dados-Sum-rio-da-M-1755888856184_1755888856191.txt
Due: prettier --write

Add formal data modeling strategy document for the platform
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Formaliza-o-da-Modelagem-de-Dados-Sum-rio-da-M-1755889312451_1755889312452.txt
  attached_assets/Pasted-2-Desenvolvedor-Full-Stack-V10-Orquestrador-de-Refinamento-de-IA-Gem-personalizado-Mostrar-raci-1755889304759_1755889304766.txt
Due: none

Define transaction management strategy for financial operations
  architecture/02-technical/transaction-management-strategy.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-2-Formaliza-o-da-Estrat-gia-de-Gest-o-de-Transa-es--1755889695851_1755889695858.txt
Due: prettier --write

Establish formal design patterns doctrine for consistent codebase
  architecture/02-technical/design-patterns-doctrine.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-3-Formaliza-o-dos-Padr-es-de-Design-Sum-rio-da-M-1755890335802_1755890335805.txt
Due: prettier --write

Formalize frontend architecture strategy and technical decisions
  architecture/02-technical/frontend-architecture-strategy.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-4-Formaliza-o-da-Arquitetura-do-Frontend-Sum-rio-1755890747707_1755890747712.txt
Due: prettier --write

Formalize client-side state management strategy with clear rules
  architecture/02-technical/state-management-strategy.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-5-Formaliza-o-da-Estrat-gia-de-Gest-o-de-Estado--1755891361270_1755891361274.txt
Due: prettier --write

Saved your changes before starting work
  client/src/contexts/AuthContext.tsx
  client/src/contexts/FeatureFlagContext.tsx
  client/src/hooks/queries/useUserFormData.ts
Due: eslint --fix --quiet, prettier --write

Restored to 'c5a88dd6e9ac5a99cbc7407526acf3bddff6754e'
  client/src/contexts/AuthContext.tsx
  client/src/contexts/FeatureFlagContext.tsx
  client/src/hooks/queries/useUserFormData.ts
Due: eslint --fix --quiet, prettier --write

Saved your changes before starting work
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-6-Formaliza-o-da-Estrat-gia-de-Comunica-o-FE-BE--1755892077529_1755892077531.txt
Due: none

Improve resilience and security with enhanced data fetching strategies
  architecture/02-technical/frontend-backend-communication-strategy.md
  attached_assets/Pasted--Roadmap-de-Faseamento-Estrat-gico-da-Doutrina-Arquitetural-Fase-0-Funda-o-Imediata-O-A-1755892471328_1755892471333.txt
  client/src/contexts/AuthContext.tsx
  client/src/contexts/FeatureFlagContext.tsx
  client/src/hooks/queries/useUserFormData.ts
  client/src/lib/queryClient.ts
Due: eslint --fix --quiet, prettier --write

Provide strategic mission briefing for elite tactical executors
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Briefing-de-Sincroniza-o-de-Contexto-Estrat-gico-Total-1755892712466_1755892712472.txt
  attached_assets/ced8fbb6-a0c9-40d3-9898-fe7c4f3b4500_Sem_ttulo_1755892723059.pdf
Due: none

Formalize strategy for a migratable monolith architecture
  architecture/07-decisions/adr-009-migratable-monolith-strategy.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Formaliza-o-da-Estrat-gia-do-Mon-lito-Migr-vel-e-Gatil-1755893741455_1755893741459.txt
Due: prettier --write

Create a detailed compliance audit report for the project's architecture
  architecture/RELATORIO_AUDITORIA_CONFORMIDADE_FASE_1_V2.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Auditoria-de-Conformidade-da-Fase-1-Sum-rio-da--1755894602394_1755894602396.txt
Due: prettier --write

Complete API specification for proposal management workflow
  architecture/02-technical/api-contracts/proposal-api.v1.yaml
  architecture/PAM_V1.0_SPRINT1_OPENAPI_SPECIFICATION_COMPLETED.md
  architecture/RELATORIO_AUDITORIA_CONFORMIDADE_FASE_1_V2.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Conclus-o-da-Especifica-o-OpenAPI-V3-Sum-rio-d-1755896246707_1755896246714.txt
  replit.md
Due: prettier --write

Formalize technical architecture and API documentation for the platform
  architecture/02-technical/README.md
  architecture/02-technical/api-architecture-strategy.md
  architecture/PAM_V1.0_SPRINT1_OPENAPI_SPECIFICATION_COMPLETED.md
Due: prettier --write

Establish architectural documentation guidelines for planning phase
  attached_assets/Pasted--DIRETRIZ-DE-DOUTRINA-MANDAT-RIA-E-INEGOCI-VEL-PROTOCOLO-DE-DOCUMENTA-O-ARQUITETURAL-P-1755897641809_1755897641817.txt
Due: none

Add critical planning protocol for architectural documentation
  architecture/EXECUTION_MATRIX.md
  replit.md
Due: prettier --write

Align API documentation with architectural standards for consistency
  architecture/02-technical/api-contracts/proposal-api.v1.yaml
  architecture/EXECUTION_MATRIX.md
  architecture/conformity-reports/pam-v1.0-hotfix-conformity-report.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Hotfix-de-Conformidade-da-Especifica-o-OpenAPI--1755898174198_1755898174202.txt
Due: prettier --write

Establish standards for local development environments to improve team productivity
  architecture/09-governance/developer-experience-strategy.md
  architecture/EXECUTION_MATRIX.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Formaliza-o-da-Estrat-gia-de-Ambiente-de-Desenvolvimen-1755898810821_1755898810836.txt
Due: prettier --write

Formalize platform migration strategy and update execution tracking
  architecture/03-infrastructure/platform-migration-strategy.md
  architecture/EXECUTION_MATRIX.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-7-Formaliza-o-da-Estrat-gia-de-Migra-o-de-Plataforma--1755899200513_1755899200517.txt
Due: prettier --write

Path conditions:
  eslint --fix --quiet: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
