Repository vapo643/SimHBSftwerdv: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --quiet",
    "prettier --write"
  ],
  "*.{json,css,md}": [
    "prettier --write"
  ]
}

Add efficient methods to manage proposal status and retrieve proposal data
  .replit
  server/modules/proposal/domain/IProposalRepository.ts
  server/modules/shared/infrastructure/TransactionalProposalRepository.ts
Due: eslint --fix --quiet, prettier --write

Improve proposal signature completion to be more efficient
  .replit
  server/modules/proposal/application/MarcarAssinaturaConcluidaUseCase.ts
  server/modules/shared/infrastructure/TransactionalProposalRepository.ts
Due: eslint --fix --quiet, prettier --write

Update environment setup for production deployment stability
  .replit
Due: none

Update Supabase configuration to use service role key for production
  server/config/environment.ts
  server/lib/supabase-admin.ts
  server/lib/supabase.ts
Due: eslint --fix --quiet, prettier --write

Update document signing flow to automatically transition proposal status
  .replit
  attached_assets/Pasted--PACOTE-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-OPERA-O-ELO-PERDIDO-ID-da-Miss-o-BUGFI-1757687884241_1757687884244.txt
  server/services/clickSignServiceV3.ts
Due: eslint --fix --quiet, prettier --write

Improve logging for ClickSign service to show fewer token characters and full request details
  server/services/clickSignServiceV3.ts
Due: eslint --fix --quiet, prettier --write

Improve document signing flow with status updates
  .replit
  server/routes/clicksign-integration-original.ts
  server/services/clickSignServiceV3.ts
Due: eslint --fix --quiet, prettier --write

Add advanced validation for loan application data
  .replit
Due: none

Fix issue with document status not updating after sending to ClickSign
  .replit
  attached_assets/Pasted--PACOTE-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-AUDITORIA-FORENSE-ELO-PARTIDO-ID-da-Miss-o--1757692306292_1757692306294.txt
  server/services/clickSignServiceV3.ts
Due: eslint --fix --quiet, prettier --write

Fix issue with loan status not updating after ClickSign integration
  .replit
Due: none

Add detailed logging for status transition in document signing
  server/services/clickSignServiceV3.ts
Due: eslint --fix --quiet, prettier --write

Fix issue where customer data is missing during proposal normalization
  attached_assets/Pasted-2025-09-12-13-23-14-26-cc19b9f6-User-at-async-file-home-runner-workspace-dist-index-js-10702-3-1757694263131_1757694263133.txt
  server/modules/proposal/domain/Proposal.ts
Due: eslint --fix --quiet, prettier --write

Improve document sending process with robust cache invalidation
  .replit
  client/src/pages/formalizacao.tsx
Due: eslint --fix --quiet, prettier --write

Increase rate limits and adjust authentication retry settings to prevent errors
  .replit
  attached_assets/Pasted--AUTH-EVENT-SIGNED-IN-hasSession-true-tokenLength-783-index-Cewqf7rz-js-56-AUTH-START--1757695811809_1757695811811.txt
  server/app.ts
  server/lib/jwt-auth-middleware.ts
  server/services/rateLimitService.ts
Due: eslint --fix --quiet, prettier --write

Add ability to update proposal status and data via new API endpoint
  .replit
  server/routes.ts
  server/routes/propostas-patch.ts
Due: eslint --fix --quiet, prettier --write

Investigate incorrect proposal ID truncation causing update failures
  .replit
  attached_assets/Pasted--PACOTE-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-AUDITORIA-FORENSE-ID-PERDIDO-ID-da-Miss-o--1757697499344_1757697499348.txt
Due: none

Fix error when updating proposal status by correctly handling UUIDs
  .replit
  attached_assets/Pasted--PACOTE-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-AUDITORIA-FORENSE-ID-PERDIDO-ID-da-Miss-o--1757699223296_1757699223300.txt
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Improve the system's ability to handle document generation failures
  .replit
Due: none

Improve token handling and document critical proposal formalization failures
  .replit
  RELATORIO_FALHAS_FORMALIZACAO.md
  client/src/lib/apiClient.ts
Due: eslint --fix --quiet, prettier --write

Document attempts to diagnose and fix formalization feature failures
  RELATORIO_FALHAS_FORMALIZACAO.md
Due: prettier --write

Add a new file for reporting formalization failures
  .replit
Due: none

Initiate critical analysis to resolve persistent loan formalization status update failures
  attached_assets/Pasted--DIRETIVA-DE-ESCALONAMENTO-N-VEL-CR-TICO-GERA-O-DE-PROMPT-MESTRE-PARA-AN-LISE-DE-CAUSA-RAIZ-DE-1757703662781_1757703662785.txt
Due: none

Enhance the token management and status update process for robustness
  .replit
  attached_assets/Pasted--ARQUIVO-1-client-src-lib-apiClient-ts--1757704463502_1757704463503.txt
  attached_assets/Pasted--ARQUIVO-1-server-services-statusFsmService-ts--1757704471764_1757704471764.txt
  attached_assets/Pasted-I-ll-analyze-your-GitHub-repository-to-identify-the-root-cause-of-the-status-update-failures-in-your-1757704452340_1757704452343.txt
  client/src/lib/apiClient.ts
  client/src/pages/formalizacao.tsx
  server/routes.ts
  server/routes/integracao/clicksign.ts
  server/services/statusFsmService.ts
Due: eslint --fix --quiet, prettier --write

Update document signing process to handle missing user IDs
  server/routes/integracao/clicksign.ts
Due: eslint --fix --quiet, prettier --write

Introduce system user ID and improve document signing workflows
  .replit
  attached_assets/Pasted-2025-09-12-16-43-50-42-9740b66c-User-at-process-processTicksAndRejections-node-internal-process--1757706334847_1757706334850.txt
  attached_assets/Pasted-Document-already-loaded-running-initialization-immediately-content-script-js-4-Attempting-to-initia-1757706259636_1757706259640.txt
  server/lib/status-context-helper.ts
  server/lib/supabase.ts
  server/routes.ts
  server/routes/integracao/clicksign.ts
  server/services/propostaService.ts
  server/services/statusFsmService.ts
Due: eslint --fix --quiet, prettier --write

Add feature to generate client welcome letters
  .replit
Due: none

Add new PDF generation for loan agreements
  .replit
Due: none

Address failure in generating loan payment slips with Banco Inter integration
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-AUDITORIA-FORENSE-Sum-rio-da-Miss-o-O-Qu-Re-1757708044476_1757708044482.txt
Due: none

Update how collections are created in the Inter Bank service
  server/services/interService.ts
Due: eslint --fix --quiet, prettier --write

Improve collection creation by fetching detailed payment information
  server/services/interService.ts
Due: eslint --fix --quiet, prettier --write

Improve error handling for Inter boleto generation failures
  attached_assets/Pasted-2025-09-12-17-31-40-38-127780f2-User-at-TLSSocket-data-file-home-runner-workspace-node-module-1757709163061_1757709163064.txt
Due: none

Update document generation to prevent user ID errors
  server/repositories/inter.repository.ts
Due: eslint --fix --quiet, prettier --write

Generate multiple loan payment installments based on proposal data
  .replit
  server/repositories/inter.repository.ts
  server/services/interService.ts
Due: eslint --fix --quiet, prettier --write
