Repository vapo643/SimHBSftwerdv: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

Improve data handling and fix user fetching errors
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1756252758899_1756252758900.txt
  client/src/pages/financeiro/pagamentos.tsx
  server/routes/admin-users.ts
Due: eslint --fix --quiet, prettier --write

Add billing KPIs and fix a filtering error on the billing page
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1756253059560_1756253059561.txt
  client/src/pages/financeiro/CobrancasPage.tsx
  server/routes/cobrancas.ts
  server/services/cobrancasService.ts
Due: eslint --fix --quiet, prettier --write

Improve user management page reliability and data handling
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1756253447923_1756253447923.txt
  client/src/pages/admin/usuarios.tsx
  client/src/pages/configuracoes/produtos.tsx
  client/src/pages/dashboard.tsx
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Prepare for Sprint 1 by ensuring all Sprint 0 requirements are met
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V14-2-Auditoria-de-Conformidade-Absoluta-Sprint-0-Valid-1756253927022_1756253927023.txt
  attached_assets/🚀 ROADMAP MESTRE DE IMPLEMENTAÇÃO_ OPERAÇÃO AÇO LÍQUIDO_1756253897483.md
Due: prettier --write

Report critical issues found during final verification of Sprint 0
  RELATORIO_DE_VERIFICACAO_FINAL_S0.md
Due: prettier --write

Improve type safety and data handling across various application modules
  RELATORIO_FINAL_CONFORMIDADE_SPRINT_0_V2.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V15-0-Remedia-o-Cr-tica-e-Prova-de-Conformidade-Absoluta--1756254321089_1756254321090.txt
  client/src/lib/pdfDownloader.ts
  client/src/pages/aceite-atendente.tsx
  client/src/pages/admin/lojas/index.tsx
  client/src/pages/configuracoes/alterar-email.tsx
  client/src/pages/configuracoes/produtos.tsx
  client/src/pages/configuracoes/tabelas.tsx
  client/src/pages/parceiros/detalhe.tsx
  client/src/pages/parceiros/index.tsx
Due: eslint --fix --quiet, prettier --write

Update audit report to reflect critical errors found in TypeScript compilation
  RELATORIO_DE_VERIFICACAO_FINAL_S0.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V14-2-Auditoria-de-Conformidade-Absoluta-Sprint-0-Valid-1756255049269_1756255049270.txt
Due: prettier --write

Improve system stability by fixing various bugs and type errors
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V15-2-Remedia-o-de-Emerg-ncia-e-Conformidade-Absoluta-Sp-1756255619924_1756255619925.txt
  client/src/components/tabelas-comerciais/TabelaComercialForm.tsx
  client/src/pages/admin/security/owasp-assessment.tsx
  client/src/pages/financeiro/pagamentos-review.tsx
  client/src/pages/pagamentos.tsx
  server/app.ts
  server/contexts/credit/presentation/ProposalController.ts
  server/index.ts
  server/lib/circuit-breaker.ts
  server/lib/dependency-scanner.ts
  server/lib/password-policy.ts
  server/repositories/cobrancas.repository.ts
Due: eslint --fix --quiet, prettier --write

Refine multi-tenant architecture and repository logic
  RELATORIO_DE_CONFORMIDADE_FINAL_S0.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V15-2-Remedia-o-de-Emerg-ncia-e-Conformidade-Absoluta-Sp-1756256492907_1756256492908.txt
  server/middleware/multi-tenant.ts
  server/repositories/auth.repository.ts
  server/repositories/base.repository.ts
  server/repositories/cliente.repository.ts
  shared/schema.ts
Due: eslint --fix --quiet, prettier --write

Address all 526 TypeScript compilation errors for absolute type safety
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V15-3-Erradica-o-Absoluta-de-Erros-de-Compila-o-Sprint--1756257222441_1756257222441.txt
Due: none

Enhance system security and refine data handling across multiple modules
  RELATORIO_FINAL_DE_CONFORMIDADE_ABSOLUTA_S0.md
  attached_assets/Pasted-Baseado-nos-resultados-dos-comandos-executados-vou-realizar-a-AUDITORIA-T-CNICA-COMPLETA-para-deter-1756257371877_1756257371877.txt
  server/lib/security-logger.ts
  server/lib/vulnerability-detector.ts
  server/middleware/file-integrity.ts
  server/repositories/cobrancas.repository.ts
  tsconfig.json
Due: eslint --fix --quiet, prettier --write

Improve data retrieval and error handling across multiple repositories
  server/repositories/inter.repository.ts
  server/repositories/monitoring.repository.ts
  server/repositories/observacoes.repository.ts
  server/routes/auth/index.ts
  server/routes/pagamentos/index.ts
Due: eslint --fix --quiet, prettier --write

Add password field to user creation for enhanced authentication
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V15-3-Erradica-o-Sistem-tica-de-D-bito-T-cnico-Sprint-0--1756258856536_1756258856537.txt
  server/services/userService.ts
  tests/unit/auth-abstraction.test.ts
  tests/userService.test.ts
Due: eslint --fix --quiet, prettier --write

Update service to correctly handle received payment amounts
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V15-3-Erradica-o-Sistem-tica-de-D-bito-T-cnico-Sprint-0--1756259552674_1756259552675.txt
  server/services/boletoStatusService.ts
  tests/lib/db-helper.ts
Due: eslint --fix --quiet, prettier --write

Update document generation and financial simulation platform
  server/lib/semgrep-scanner.ts
  server/repositories/inter.repository.ts
  server/services/documentsService.ts
Due: eslint --fix --quiet, prettier --write

Improve error handling and data management across the platform
  server/repositories/monitoring.repository.ts
  server/repositories/observacoes.repository.ts
  server/routes.ts
  server/routes/admin/users-refactored.ts
  server/services/interService.ts
Due: eslint --fix --quiet, prettier --write

Improve system stability and data handling across multiple modules
  server/repositories/observacoes.repository.ts
  server/routes/cobrancas-original.ts
  server/routes/cobrancas.ts
  server/routes/documentos-original.ts
  server/routes/documents-original.ts
  server/routes/email-change-original.ts
  server/routes/health-original.ts
Due: eslint --fix --quiet, prettier --write

Improve logging and error handling across multiple services
  server/routes/test-retry-original.ts
  server/services/ccbSyncServiceRefactored.ts
  server/services/observacoesService.ts
  server/services/pagamentoService.ts
  server/services/securityService.ts
Due: eslint --fix --quiet, prettier --write

Improve system stability by fixing multiple critical errors
  server/routes/health.ts
  server/routes/inter-fix-boletos-original.ts
  server/routes/owasp.ts
  server/services/ccbSyncService.ts
  server/services/pagamentoService.ts
  server/worker-test-retry.ts
Due: eslint --fix --quiet, prettier --write

Update API endpoints and disable certain background tasks
  server/routes/cobrancas-original.ts
  server/routes/health.ts
  server/routes/inter-fix-collections-original.ts
  server/routes/inter.ts
  server/routes/propostas-sincronizar-boletos-original.ts
  server/routes/webhooks-inter.ts
  server/services/authService.ts
  server/services/pagamentoService.ts
  server/services/securityMonitoringService.ts
Due: eslint --fix --quiet, prettier --write

Establish a mandatory post-implementation validation protocol for enhanced code quality
  attached_assets/Pasted--PARA-Agente-de-IA-Executor-de-Miss-o-de-Elite-DE-Architect-AI-ASSUNTO-Debate-Estra-1756262644809_1756262644810.txt
Due: none

Update document with details for implementing a new quality validation protocol
  attached_assets/Pasted--PARA-Agente-de-IA-Executor-de-Miss-o-de-Elite-DE-Architect-AI-ASSUNTO-Debate-Estra-1756262948532_1756262948532.txt
Due: none

Introduce a mandatory post-implementation validation protocol for enhanced quality and security
  attached_assets/Pasted--PARA-Agente-de-IA-Executor-de-Miss-o-de-Elite-DE-Architect-AI-ASSUNTO-Debate-Estra-1756263088435_1756263088436.txt
Due: none

Improve document generation platform quality assurance protocols
  attached_assets/Pasted--Diretiva-de-Assimila-o-de-Doutrina-DAD-V4-0-ATIVADA-PARA-Agente-de-IA-Executor-de-M-1756263362946_1756263362947.txt
  replit.md
Due: prettier --write

Improve project documentation and ensure zero TypeScript compilation errors
  RELATORIO_DE_CONFORMIDADE_ABSOLUTA_S0.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V15-3-Erradica-o-Sistem-tica-de-D-bito-T-cnico-Sprint-0--1756263830523_1756263830523.txt
  replit.md
Due: prettier --write

Update audit report to reflect critical sprint 0 failures found
  RELATORIO_DE_VERIFICACAO_FINAL_S0.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V14-2-Auditoria-de-Conformidade-Absoluta-Sprint-0-Valid-1756297261857_1756297261858.txt
  attached_assets/🚀 ROADMAP MESTRE DE IMPLEMENTAÇÃO_ OPERAÇÃO AÇO LÍQUIDO_1756297126926.md
  replit.md
Due: prettier --write

Achieve absolute compliance by fixing all TypeScript errors
  RELATORIO_DE_CONFORMIDADE_ABSOLUTA_S0.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V15-3-Erradica-o-Sistem-tica-de-D-bito-T-cnico-Sprint-0--1756298027425_1756298027426.txt
  replit.md
Due: prettier --write

Update compliance report and fix code quality issues across the application
  RELATORIO_DE_CONFORMIDADE_ABSOLUTA_S0.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V15-4-Erradica-o-Final-com-An-lise-de-Causa-Raiz-Sprint--1756298313837_1756298313838.txt
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V16-0-Erradica-o-em-Massa-de-D-bito-T-cnico-de-Linting-S-1756298671867_1756298671868.txt
  attached_assets/Pasted--workspace-npx-eslint-ext-ts-tsx-js-jsx-fix-Verificar-e-corrigir-problemas-hom-1756298470131_1756298470134.txt
  client/src/components/tabelas-comerciais/TabelaComercialForm.tsx
  client/src/pages/admin/security/wstg.tsx
  client/src/pages/admin/usuarios.tsx
  client/src/pages/analise-manual.tsx
  client/src/pages/configuracoes/alterar-email.tsx
  client/src/pages/configuracoes/produtos.tsx
  client/src/pages/dashboard.tsx
  client/src/pages/financeiro/CobrancasPage.tsx
  client/src/pages/financeiro/pagamentos.tsx
  client/src/pages/pagamentos.tsx
  docs/diagnostics/COMMON_ERROR_PATTERNS.md
  replit.md
  server/contexts/proposal/infrastructure/ProposalRepository.ts
  server/lib/security-websocket.ts
  server/repositories/base.repository.ts
  server/repositories/cobrancas.repository.ts
  server/repositories/inter.repository.ts
  server/repositories/observacoes.repository.ts
  server/routes.ts
  server/routes/admin-users.ts
  server/services/ccbSyncService.ts
  server/services/cobrancasService.ts
  server/services/interService.ts
  server/services/securityService.ts
  server/worker-test-retry.ts
Due: eslint --fix --quiet, prettier --write

Improve component structure and code quality across the application
  client/src/components/FeatureFlagExample.tsx
  client/src/components/notifications/NotificationBell.tsx
  client/src/components/propostas/ClientDataStep.tsx
  docs/diagnostics/ESLINT_COMMON_ERROR_PATTERNS.md
  replit.md
Due: eslint --fix --quiet, prettier --write

Improve code quality by fixing linting and type errors
  attached_assets/Pasted--workspace-npx-eslint-ext-ts-tsx-js-jsx-fix-home-runner-workspace-client-src-compone-1756299989227_1756299989230.txt
  docs/diagnostics/AGENT_ERROR_PATTERNS.md
Due: prettier --write

Improve accessibility and error handling across the application
  client/src/components/CCBViewer.tsx
  client/src/components/notifications/NotificationDropdown.tsx
  client/src/components/propostas/DocumentsStep.tsx
  client/src/contexts/FeatureFlagContext.tsx
  client/src/lib/apiClient.ts
  client/src/pages/SecurityDashboard.tsx
  client/src/pages/aceite-atendente.tsx
  client/src/pages/admin/security/owasp-assessment.tsx
  replit.md
Due: eslint --fix --quiet, prettier --write

Reject production deployment due to critical code quality and security issues
  PRODUCTION_READINESS_VERDICT.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V17-0-Auditoria-Final-de-Prontid-o-para-Deploy-Opera-o-A-1756304447812_1756304447815.txt
  attached_assets/🚀 ROADMAP MESTRE DE IMPLEMENTAÇÃO_ OPERAÇÃO AÇO LÍQUIDO_1756304458560.md
Due: prettier --write

Improve code quality by addressing linting errors and warnings
  PRODUCTION_READINESS_VERDICT.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V16-1-Erradica-o-em-Massa-de-D-bito-T-cnico-Estrat-gia-d-1756306608280_1756306608284.txt
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V16-1-Erradica-o-em-Massa-de-D-bito-T-cnico-Estrat-gia-d-1756306961318_1756306961319.txt
  attached_assets/Pasted--Roadmap-de-Emerg-ncia-Do-Caos-Conformidade-M-nima-Deploy-em-T-2-horas-MISS-O-Al-1756305032380_1756305032381.txt
  client/src/pages/admin/security/owasp-assessment.tsx
  client/src/pages/admin/security/wstg.tsx
  client/src/pages/admin/usuarios.tsx
  client/src/pages/financeiro/pagamentos.tsx
  vite-plugin-obfuscate.ts
Due: eslint --fix --quiet, prettier --write

Path conditions:
  eslint --fix --quiet: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
