Repository vapo643/SimHBSftwerdv: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

Add a new filter to show paid payments for financial auditing
  .replit
  client/src/pages/financeiro/pagamentos.tsx
  server/routes/pagamentos/index.ts
Due: eslint --fix --quiet, prettier --write

Make proposal rejection reason mandatory for analysis
  .replit
  attached_assets/Pasted--2025-09-14-23-46-40-53-8f7693b5-User-JWT-DEBUG-Header-Auth-presente-true-2025-09-14-23-46-4-1757904590698_1757904590698.txt
  client/src/pages/credito/analise.tsx
  server/modules/proposal/presentation/proposalController.ts
Due: eslint --fix --quiet, prettier --write

Fix error when denying a loan proposal in the analysis queue
  .replit
Due: none

Improve button visibility and styling across all themes
  .replit
  client/src/components/ui/button.tsx
  client/src/index.css
Due: eslint --fix --quiet, prettier --write

Add fallback for Supabase uploads during development
  attached_assets/Pasted-AGORA-AO-TENTAR-CRIAR-PROPOSTA-APARECE-ERRO-AO-CRIAR-PROPOSTA-HTTP-ERROR-400-https-sistemasimpix-1757937992800_1757937992801.txt
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Expand supported file types and improve upload validation
  server/middleware/file-validation.ts
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Improve error handling for missing environment variables
  .replit
Due: none

Disable rate limiting and fix JWT validation for improved stability
  .replit
  attached_assets/Pasted--75-16d98585-User-JWT-DEBUG-Referer-https-sistemasimpix-com-br-propostas-nova-2025-09-15-09-1757938899753_1757938899756.txt
  client/src/App.tsx
  server/app.ts
  server/lib/jwt-auth-middleware.ts
Due: eslint --fix --quiet, prettier --write

Improve token refresh logic to prevent unauthorized access errors
  .replit
  attached_assets/Pasted--AUTH-EVENT-SIGNED-IN-hasSession-true-tokenLength-783-index-DCcUDTC4-js-56-AUTH-START--1757939583815_1757939583817.txt
Due: none

Improve authentication reliability by forcing local JWT validation
  .replit
  attached_assets/Pasted-2025-09-15-09-32-40-39-78f3a383-User-JWT-DEBUG-FIM-DA-VALIDA-O-JWT-FALHA-2025-09--1757939657538_1757939657539.txt
  server/lib/jwt-auth-middleware.ts
Due: eslint --fix --quiet, prettier --write

Synchronize JWT secrets to resolve authentication failures
  .replit
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-OPERA-O-COFRE-SELADO-Sum-rio-da-Miss-o-Sincroniz-1757940461860_1757940461862.txt
  attached_assets/Pasted-2-Desenvolvedor-Full-Stack-V10-Orquestrador-de-Refinamento-de-IA-Gem-personalizado-Mostrar-raci-1757940472657_1757940472657.txt
Due: none

Update JWT secret for authentication synchronization
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-OPERA-O-COFRE-SELADO-Sum-rio-da-Miss-o-Sincroniz-1757940991957_1757940991958.txt
Due: none

Update configuration to use production secrets for development environments
  server/lib/config.ts
  server/lib/jwt-auth-middleware.ts
Due: eslint --fix --quiet, prettier --write

Improve security by automatically detecting and using environment-specific secrets
  .replit
  server/lib/config.ts
Due: eslint --fix --quiet, prettier --write

Update JWT secret key naming convention for development environment
  .replit
  attached_assets/Pasted--Violation-Forced-reflow-while-executing-JavaScript-took-35ms-login-1-DOM-Input-elements-should-h-1757941834791_1757941834792.txt
  attached_assets/Pasted-lembrando-que-tem-as-secrets-DEV-E-AS-PROD-SECRETS-DE-DESEVOLVIMENTO-SESSION-SECRET--1757942001921_1757942001923.txt
  server/lib/config.ts
Due: eslint --fix --quiet, prettier --write

Perform forensic audit on authentication middleware to resolve token verification failures
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-AUDITORIA-FORENSE-DE-AUTENTICA-O-Sum-rio-da-Mi-1757942237713_1757942237715.txt
Due: none

Add audit functionality to track system events and user actions
  .replit
Due: none

Simplify JWT secret management by consolidating to a single environment variable
  .replit
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-REFINAMENTO-DA-CONFIGURA-O-DE-JWT-Sum-rio-da-M-1757942602916_1757942602917.txt
  server/config/environment.ts
  server/lib/config.ts
Due: eslint --fix --quiet, prettier --write

Isolate JWT secrets across development and production environments
  server/config/environment.ts
  server/lib/config.ts
Due: eslint --fix --quiet, prettier --write

Refactor authentication service for improved security
  .replit
Due: none

Add diagnostic logs to pinpoint environment configuration issues
  .replit
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-N-VEL-DE-CRISE-OPERA-O-CORRENTE-DE-CONFIAN-A-V2-Sum-1757944149472_1757944149472.txt
  attached_assets/Pasted-GERE-UM-SUPER-PROMPT-PEDINDO-PARA-O-AGENTE-GERAR-UM-SUPER-MEGA-PROMPT-PEDINDO-AJUDA-PARA-RESOLVER-ES-1757944135327_1757944135331.txt
  client/src/lib/supabase.ts
  server/lib/config.ts
Due: eslint --fix --quiet, prettier --write

Update authentication configuration and server startup logic
  client/src/lib/supabase.ts
  server/index.ts
  server/lib/config.ts
Due: eslint --fix --quiet, prettier --write

Adjust application secrets for production and development environments
  .replit
  server/lib/config.ts
Due: eslint --fix --quiet, prettier --write

Add support for production Supabase environment variables
  client/src/lib/supabase.ts
  server/lib/config.ts
Due: eslint --fix --quiet, prettier --write

Add missing production environment variables to the configuration
  .replit
Due: none

Improve authentication token refresh and API request handling
  attached_assets/Pasted--AUTH-EVENT-SIGNED-IN-hasSession-true-tokenLength-783-index-DCcUDTC4-js-56-AUTH-START--1757945850932_1757945850935.txt
Due: none

Address critical system-wide failure causing total operational blackout
  attached_assets/Pasted--SUPER-MEGA-PROMPT-DE-EMERG-NCIA-OPERA-O-CORRENTE-DE-CONFIAN-A-V2-PARA-IA-ESPECIALISTA-1757945925596_1757945925598.txt
Due: none

Create detailed prompt for diagnosing critical system failures
  SUPER_MEGA_PROMPT_EMERGENCIA_V3.md
  attached_assets/Pasted--SUPER-MEGA-PROMPT-DE-EMERG-NCIA-OPERA-O-CORRENTE-DE-CONFIAN-A-V2-PARA-IA-ESPECIALISTA-1757946084150_1757946084152.txt
Due: prettier --write

Address critical authentication failure causing system-wide downtime
  .replit
  SUPER_MEGA_PROMPT_EMERGENCIA_V3.md
  attached_assets/Pasted--AUTH-EVENT-SIGNED-IN-hasSession-true-tokenLength-783-index-DCcUDTC4-js-56-AUTH-START--1757946272030_1757946272032.txt
  attached_assets/Pasted-2025-09-15-11-03-17-01-4b54645a-User-JWT-DEBUG-Falha-na-valida-o-Erro-completo-2025-09-15-1757946306838_1757946306838.txt
Due: prettier --write

Add LLM-to-LLM communication protocol for emergency response
  SUPER_MEGA_PROMPT_EMERGENCIA_V3.md
Due: prettier --write

Address critical system downtime caused by JWT secret mismatches
  .replit
  SUPER_MEGA_PROMPT_EMERGENCIA_V4_COMPACT.md
Due: prettier --write

Fix critical production downtime by synchronizing JWT secrets
  attached_assets/Pasted-Processo-de-pensamentoEste-um-caso-cr-tico-de-produ-o-com-downtime-de-6-horas-causado-por-um-mis-1757947427378_1757947427383.txt
Due: none

Streamline Supabase configuration by using canonical environment variables
  .replit
  client/src/lib/supabase.ts
  server/config/environment.ts
  server/lib/config.ts
  server/lib/supabase.ts
  server/routes/health-config.ts
Due: eslint --fix --quiet, prettier --write

Standardize environment and Supabase variable configurations
  server/lib/logger.ts
  server/lib/sentry.ts
  server/lib/supabase-admin.ts
  server/services/featureFlagService.ts
  server/services/healthService.ts
Due: eslint --fix --quiet, prettier --write

Make JWT secrets environment-specific for better security management
  server/config/environment.ts
  server/lib/config.ts
Due: eslint --fix --quiet, prettier --write

Address critical security and configuration errors affecting user authentication and system operations
  attached_assets/Pasted--15-13-24-04-96-be5fb830-User-REDIS-OFFLINE-Blacklist-and-cache-check-skipped-graceful-degrad-1757953884839_1757953884839.txt
  attached_assets/Pasted-index-DCcUDTC4-js-56-AUTH-EVENT-SIGNED-IN-hasSession-true-tokenLength-783-index-DCcUDTC4-j-1757953860109_1757953860110.txt
Due: none

Path conditions:
  eslint --fix --quiet: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
