Repository vapo643/SimHBSftwerdv: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --quiet",
    "prettier --write"
  ],
  "*.{json,css,md}": [
    "prettier --write"
  ]
}

Improve authentication resilience by preventing infinite retry loops
  .replit
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Refatora-o-de-Resili-ncia-do-AuthContext-Sum-r-1757636033570_1757636033570.txt
  client/src/contexts/AuthContext.tsx
Due: eslint --fix --quiet, prettier --write

Improve document generation by optimizing data retrieval
  .replit
Due: none

Add diagnostic logs to track proposal completion and boleto generation flow
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Inje-o-de-Diagn-stico-no-Fluxo-de-Orquestra-o--1757639964482_1757639964483.txt
  server/modules/proposal/presentation/proposalController.ts
  server/services/clickSignWebhookService.ts
Due: eslint --fix --quiet, prettier --write

Ensure proposal completion updates accurately by waiting for boleto generation
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Corre-o-de-Race-Condition-Sum-rio-da-Miss-o--1757641522537_1757641522538.txt
Due: none

Saved your changes before starting work
  attached_assets/Pasted--DOSSI-DE-CONTEXTO-T-CNICO-COMPLETO-PROJETO-SIMPIX-1-Vis-o-Geral-e-Prop-sito-de-Neg-cio--1757642406169_1757642406170.txt
Due: none

Add comprehensive technical documentation for the loan origination platform
  DOSSIE_CONTEXTO_TECNICO_COMPLETO_SIMPIX.md
  DOSSIE_CONTEXTO_TECNICO_COMPLETO_SIMPIX_V2.md
Due: prettier --write

Investigate proposal formalization status update failures
  attached_assets/Pasted--PACOTE-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-AUDITORIA-FORENSE-ID-da-Miss-o-BUGFIX-FOR-1757644494959_1757644494960.txt
  attached_assets/Pasted-Fase-1-Alinhamento-Estrat-gico-Com-Question-rio-Mandat-rio-QAE-Arquiteto-Chefe-para-garantir--1757644516708_1757644516708.txt
Due: none

Refactor proposal status updates to use dedicated use cases
  .replit
  attached_assets/Pasted--PACOTE-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-OPERA-O-RESTAURA-O-DO-N-CLEO-ID-da-Miss-o-1757645081708_1757645081709.txt
  attached_assets/Pasted-Passo-1-BACKEND-L-GICA-Restaura-o-da-M-quina-de-Estados-e-Refatora-o-para-UseCases-Objetivo-1757644928943_1757644928945.txt
  server/modules/proposal/application/MarcarAguardandoAssinaturaUseCase.ts
  server/modules/proposal/application/MarcarAssinaturaConcluidaUseCase.ts
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Update proposal status context to formalization
  server/modules/proposal/application/MarcarAguardandoAssinaturaUseCase.ts
  server/modules/proposal/application/MarcarAssinaturaConcluidaUseCase.ts
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Automate proposal status updates based on external signature events
  .replit
  attached_assets/Pasted--PACOTE-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-OPERA-O-PONTE-AUTOMATIZADA-ID-da-Miss-o--1757645727431_1757645727432.txt
  server/services/clickSignWebhookService.ts
Due: eslint --fix --quiet, prettier --write

Update document signing process to use a new use case for status changes
  server/services/clickSignWebhookService.ts
Due: eslint --fix --quiet, prettier --write

Improve webhook security and dependency injection for better reliability
  server/services/clickSignWebhookService.ts
Due: eslint --fix --quiet, prettier --write

Update UI to reflect successful backend operations
  attached_assets/Pasted--PACOTE-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-OPERA-O-ECO-DA-VERDADE-ID-da-Miss-o-BU-1757646431472_1757646431473.txt
Due: none

Update data refresh to include formalization status
  .replit
  client/src/components/propostas/EtapaFormalizacaoControl.tsx
Due: eslint --fix --quiet, prettier --write

Improve document formalization flow with error handling and logging
  attached_assets/Pasted--PACOTE-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-OPERA-O-ESCUDO-E-FAROL-ID-da-Miss-o-BU-1757646733701_1757646733703.txt
Due: none

Improve error logging across API endpoints with detailed information
  .replit
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Update UI to improve the user experience and visual design
  .replit
Due: none

Update document generation workflow to improve user experience
  .replit
Due: none

Fix critical server error by implementing proper dependency injection
  attached_assets/Pasted--PACOTE-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-AUDITORIA-FORENSE-DE-EMERG-NCIA-ID-da-Miss-o--1757647918166_1757647918168.txt
  attached_assets/Pasted--PACOTE-DE-ATIVA-O-DE-MISS-O-PAM-V1-0-OPERA-O-FUNDA-O-REFOR-ADA-ID-da-Miss-o--1757678363365_1757678363366.txt
  attached_assets/Pasted-Arquiteto-Chefe-relat-rio-da-auditoria-forense-de-emerg-ncia-recebido-Veredito-da-Auditoria-F-1757678248928_1757678248929.txt
Due: none

Update Unit of Work to a new location
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Fix proposal data loading to prevent errors when marking tasks complete
  attached_assets/Pasted--PACOTE-DE-DEBATE-T-CNICO-PDT-INTERA-O-1-5-ID-da-Miss-o-RCA-500-DATAMAP-001-DEB-1757681442661_1757681442664.txt
  attached_assets/Pasted-AINDA-SIM-AO-CLICAR-EM-MARCAR-COMO-CONCLUIDA-NA-TIMELINE-DE-FORMALIZA-O-APARECE-O-MESMO-ERRO-INTER-1757680816685_1757680816687.txt
  attached_assets/Pasted-EU-SINCERAMENTE-NAO-ENTENDI-O-POR-QUE-VOCE-ESTA-AUDITANDO-DATA-CEP-CARA-EU-SO-QUERO-DEIXAR-O-BOTAO-1757681461894_1757681461895.txt
  server/modules/shared/infrastructure/TransactionalProposalRepository.ts
Due: eslint --fix --quiet, prettier --write

Improve document generation workflow for loan origination
  .replit
Due: none

Improve error handling for non-existent proposals in the system
  docs/bugs-solved/backend/2025-12-09-transactional-repository-null-defensive-check.md
Due: prettier --write

Implement a normalization block to temporarily fix data mapping inconsistencies
  .replit
  attached_assets/Pasted--PACOTE-DE-DEBATE-T-CNICO-PDT-INTERA-O-1-5-ID-da-Miss-o-RCA-500-DATAMAP-001-DEB-1757682027257_1757682027258.txt
  attached_assets/Pasted--PACOTE-DE-DEBATE-T-CNICO-PDT-INTERA-O-2-5-ID-da-Miss-o-RCA-500-DATAMAP-001-DEB-1757682251324_1757682251326.txt
  attached_assets/Pasted--PACOTE-DE-DEBATE-T-CNICO-PDT-INTERA-O-3-5-ID-da-Miss-o-RCA-500-DATAMAP-001-DEBAT-1757682630941_1757682630943.txt
Due: none

Fix error that prevents marking electronic signature as complete
  attached_assets/Pasted--CONSOLE-NAVEGADOR-api-propostas-79d7df3d-e0f7-4eab-ae15-c7f4ab90abe8-etapa-formalizacao-1-Failed-1757683115490_1757683115492.txt
  attached_assets/Pasted--PACOTE-DE-DEBATE-T-CNICO-PDT-INTERA-O-5-5-VEREDITO-FINAL-E-ORDEM-DE-EXECU-O-ID--1757683190943_1757683190943.txt
Due: none

Add data normalization to proposal domain to maintain CCB system compatibility
  attached_assets/Pasted-Arquiteto-Chefe-o-debate-t-cnico-est-conclu-do-O-consenso-foi-estabelecido-e-a-estrat-gia-forjad-1757683493417_1757683493418.txt
  server/modules/proposal/domain/Proposal.ts
Due: eslint --fix --quiet, prettier --write

Make the "Mark as Completed" button functional in the timeline
  attached_assets/Pasted--PACOTE-DE-ATIVA-O-DE-MISS-O-PAM-AUDITORIA-OPERA-O-SENTINELA-ID-da-Miss-o-RC-1757684031417_1757684031418.txt
Due: none

Fix issue preventing electronic signature completion on loan formalization timeline
  .replit
  attached_assets/Pasted-EU-NAO-AGUENTO-MAIS-O-MESMOE-RRO-PELO-AMOR-DE-DEUS-QUE-SACO-QUE-MEO-DEUS-CONSOLE-API-Client-Aft-1757684477917_1757684477918.txt
Due: none

Fix issue preventing electronic signature completion on the formalization timeline
  .replit
Due: none

Fix issue when marking electronic signature as completed
  .replit
  attached_assets/Pasted-2-10-49-58-12-3e2977bd-User-ETAPA-DEBUG-User-info-2025-09-12-10-49-58-12-3e2977bd-User-1757685050704_1757685050715.txt
Due: none

Fix error when marking signature as concluded in the formalization timeline
  attached_assets/Pasted-2025-09-12-11-00-01-80-c5fc5911-User-Query-select-id-numero-proposta-loja-id-produto-i-1757685650854_1757685650856.txt
Due: none

Improve handling of client data for loan proposals
  .replit
  server/modules/proposal/domain/Proposal.ts
Due: eslint --fix --quiet, prettier --write
