Repository vapo643/SimHBSftwerdv: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

Update proposal ID to string type across observation features
  server/repositories/observacoes.repository.ts
  server/routes/observacoes.ts
  server/services/observacoesService.ts
Due: eslint --fix --quiet, prettier --write

Investigate and resolve proposal update saving errors during resubmission
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-AUDITORIA-FORENSE-DE-FALHA-DE-ATUALIZA-O-UPDATE--1757355209240_1757355209241.txt
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-AUDITORIA-FORENSE-DE-FALHA-DE-ATUALIZA-O-UPDATE--1757355361143_1757355361144.txt
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1757355049777_1757355049779.txt
Due: none

Fix proposal update functionality by ensuring domain instances are returned
  docs/bugs-solved/proposal-domain/2025-08-09-proposal-update-method-missing.md
  server/modules/proposal/infrastructure/ProposalRepository.ts
  server/modules/proposal/presentation/proposalController.ts
Due: eslint --fix --quiet, prettier --write

Fix proposal editing to properly associate users with their stores
  attached_assets/Pasted--api-propostas-29e80-bbc8-960b3139939c-1-Failed-to-load-resource-the-server-responded-with-a-sta-1757356038144_1757356038147.txt
Due: none

Fix error when resubmitting or editing proposals
  server/modules/proposal/infrastructure/ProposalRepository.ts
Due: eslint --fix --quiet, prettier --write

Update security policy to allow users to update their proposals
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-REMEDIA-O-DE-POL-TICA-DE-SEGURAN-A-RLS-UPDATE--1757356911562_1757356911568.txt
Due: none

Update proposal data with optimized fields and RLS preservation
  server/modules/proposal/infrastructure/ProposalRepository.ts
Due: eslint --fix --quiet, prettier --write

Fix proposal updates that violate security policies by preserving relationships
  docs/bugs-solved/proposal-domain/2025-08-09-rls-update-zero-foreign-keys.md
Due: prettier --write

Fix error when resending proposals by properly handling value object serialization
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1757357797526_1757357797535.txt
  docs/bugs-solved/proposal-domain/2025-08-09-value-object-serialization-error.md
  server/modules/proposal/domain/Proposal.ts
  server/modules/proposal/infrastructure/ProposalRepository.ts
Due: eslint --fix --quiet, prettier --write

Improve serialization for value objects to prevent unexpected errors
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1757358429998_1757358430002.txt
  shared/value-objects.ts
Due: eslint --fix --quiet, prettier --write

Update proposal resubmit flow to redirect to dashboard and simplify cache invalidation
  client/src/pages/propostas/editar.tsx
Due: eslint --fix --quiet, prettier --write

Allow resubmitting proposals in different analysis stages
  server/modules/proposal/domain/Proposal.ts
Due: eslint --fix --quiet, prettier --write

Redirect users to the dashboard immediately after resubmitting a proposal
  client/src/pages/propostas/editar.tsx
Due: eslint --fix --quiet, prettier --write

Investigate missing data for loan formalization screen
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-AUDITORIA-FORENSE-DO-FLUXO-DE-DADOS-DE-FORMALIZA-O--1757360215909_1757360215911.txt
Due: none

Strengthen loan approval process and populate missing data for formalization
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-REMEDIA-O-DE-DADOS-E-BLINDAGEM-DO-WORKFLOW-DE-FORMA-1757360771601_1757360771602.txt
Due: none

Add pre-approval validation checks for proposal formalization
  server/modules/proposal/application/ApproveProposalUseCase.ts
Due: eslint --fix --quiet, prettier --write

Populate proposal with financial terms and example documents
  server/scripts/seed-formalization-data.ts
Due: eslint --fix --quiet, prettier --write

Investigate and resolve document generation failure for loan contracts
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-AUDITORIA-FORENSE-DA-GERA-O-DE-CCB-Sum-rio-1757361521027_1757361521030.txt
Due: none

Add ability to generate and view credit documents for loan applications
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-REMEDIA-O-DA-INTERFACE-DE-GERA-O-DE-CCB-S-1757362082631_1757362082636.txt
Due: none

Update endpoint for generating and regenerating loan documents
  client/src/components/CCBViewer.tsx
Due: eslint --fix --quiet, prettier --write

Update document generation to use correct proposal data
  client/src/components/CCBViewer.tsx
Due: eslint --fix --quiet, prettier --write

Improve document viewer with new signed document details
  client/src/components/CCBViewer.tsx
Due: eslint --fix --quiet, prettier --write

Allow CCB generation for proposals with existing CCBs
  attached_assets/Pasted--rest-express-1-0-0-dev-Database-Configuring-Supabase-connection-Database-Connection-p-1757362535381_1757362535406.txt
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Update proposal data to include CCB generation details
  server/modules/proposal/infrastructure/ProposalRepository.ts
  server/schemas/proposalOutput.schema.ts
Due: eslint --fix --quiet, prettier --write

Add CCB generation status and path fields to proposals
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1757365174624_1757365174626.txt
  server/modules/proposal/domain/Proposal.ts
  server/modules/proposal/presentation/proposalController.ts
Due: eslint --fix --quiet, prettier --write

Enable users to generate credit agreements and view updates
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-REMEDIA-O-DA-INTERFACE-E-REATIVIDADE-DA-GERA-O-DE--1757365942388_1757365942390.txt
Due: none

Improve CCB data mapping and display logic for better accuracy
  client/src/components/CCBViewer.tsx
Due: eslint --fix --quiet, prettier --write

Update document generation to correctly formalize proposals
  client/src/components/CCBViewer.tsx
Due: eslint --fix --quiet, prettier --write

Investigate and fix errors when viewing generated credit agreements
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-AUDITORIA-FORENSE-DE-ROTA-DE-VISUALIZA-O-DE-CCB--1757366542347_1757366542350.txt
Due: none

Path conditions:
  eslint --fix --quiet: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
