Repository vapo643/SimHBSftwerdv: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

Conduct heuristic analysis to improve user experience and interface consistency
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V5-3-GL-002-An-lise-Heur-stica-de-UX-UI-DIRETRI-1756498608939_1756498608941.txt
Due: none

Improve user experience with critical bug fixes and workflow enhancements
  attached_assets/Pasted-Roadmap-Secund-rio-Polimento-de-Experi-ncia-do-Usu-rio-Miss-o-GL-002-Este-roadmap-dividido-em-f-1756499219835_1756499219837.txt
Due: none

Improve proposal form by enabling step validation for next button
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V5-4-UX-001-Valida-o-em-Tempo-Real-DIRETRIZ-ME-1756499372843_1756499372845.txt
  client/src/contexts/ProposalContext.tsx
  client/src/pages/propostas/nova.tsx
Due: eslint --fix --quiet, prettier --write

Align React hooks for improved component stability and predictability
  .replit
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V5-5-UX-002-Corre-o-de-Hooks-Condicionais-DIRE-1756499844040_1756499844042.txt
  client/src/pages/dashboard.tsx
Due: eslint --fix --quiet, prettier --write

Organize navigation with collapsible sections for better usability
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V5-6-UX-003-Refatora-o-da-Sidebar-DIRETRIZ-MES-1756500290938_1756500290939.txt
  client/src/components/DashboardLayout.tsx
Due: eslint --fix --quiet, prettier --write

Add visual password strength indicator to login form
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V5-7-UX-004-Indicador-de-For-a-de-Senha-DIRETRI-1756501048224_1756501048228.txt
  client/src/pages/login.tsx
Due: eslint --fix --quiet, prettier --write

Add visual progress indicator to the proposal creation form
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V5-8-UX-005-Indicador-de-Progresso-do-Formul-rio--1756501550248_1756501550254.txt
  client/src/components/ProposalProgressIndicator.tsx
  client/src/pages/propostas/nova.tsx
Due: eslint --fix --quiet, prettier --write

Improve client data form with real-time validation and auto-address lookup
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V5-9-UX-006-Valida-o-de-Campo-em-Tempo-Real-com-Debounc-1756502024754_1756502024760.txt
  client/src/components/propostas/ClientDataStep.tsx
Due: eslint --fix --quiet, prettier --write

Fix data loading errors and adjust theme for improved user experience
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1756502433699_1756502433701.txt
Due: none

Adjust rate limiting configurations for development and production environments
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1756502640162_1756502640163.txt
  server/lib/security-config.ts
Due: eslint --fix --quiet, prettier --write

Adjust authentication rate limits for development and production environments
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1756502927417_1756502927419.txt
  server/lib/jwt-auth-middleware.ts
Due: eslint --fix --quiet, prettier --write

Restore automatic CEP lookup functionality in client data step
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1756503204314_1756503204322.txt
  client/src/components/propostas/ClientDataStep.tsx
Due: eslint --fix --quiet, prettier --write

Improve the security configuration and component rendering for the platform
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1756503483953_1756503483955.txt
  client/src/components/ProposalProgressIndicator.tsx
  server/lib/security-config.ts
Due: eslint --fix --quiet, prettier --write

Allow connection to Sentry for error tracking
  server/lib/security-headers.ts
Due: eslint --fix --quiet, prettier --write

Update client route handling to use original implementation
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Add dynamic result count to proposal listings
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V6-0-UX-007-Contador-de-Resultados-Din-mico-DIR-1756504864338_1756504864345.txt
  client/src/pages/dashboard.tsx
Due: eslint --fix --quiet, prettier --write

Add breadcrumbs navigation to improve user experience and site orientation
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V6-1-UX-008-Implementa-o-de-Breadcrumbs-DIRETR-1756505289994_1756505290008.txt
  client/src/components/DashboardLayout.tsx
  client/src/components/ui/breadcrumbs.tsx
Due: eslint --fix --quiet, prettier --write

Improve dashboard user experience with dynamic results counter and breadcrumbs
  replit.md
Due: prettier --write

Add loading indicator to login button for improved user feedback
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V6-2-UX-009-Feedback-de-Loading-no-Login-DIRETR-1756505743645_1756505743646.txt
  client/src/pages/login.tsx
Due: eslint --fix --quiet, prettier --write

Remove password strength indicator from login screen
  client/src/pages/login.tsx
Due: eslint --fix --quiet, prettier --write

Add document preview functionality to proposals
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V6-3-UX-010-Preview-de-Upload-de-Documentos-DIR-1756506221479_1756506221481.txt
  client/src/pages/propostas/editar.tsx
  package-lock.json
  package.json
Due: eslint --fix --quiet, prettier --write

Improve proposal card status differentiation with enhanced visual indicators
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V6-5-UX-011-Diferencia-o-Visual-de-Status-DIRE-1756506723002_1756506723004.txt
  client/src/pages/dashboard.tsx
Due: eslint --fix --quiet, prettier --write

Add visual feedback to automatically filled address fields
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V6-6-UX-012-Feedback-de-Auto-Preenchimento-DIRE-1756507184466_1756507184469.txt
  client/src/components/propostas/ClientDataStep.tsx
  client/src/index.css
Due: eslint --fix --quiet, prettier --write

Improve mobile navigation by automatically closing the sidebar menu
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V6-7-UX-013-Fechamento-Autom-tico-do-Menu-Mobile--1756507688916_1756507688934.txt
  client/src/components/DashboardLayout.tsx
Due: eslint --fix --quiet, prettier --write

Improve visual consistency and user experience across the platform
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V6-8-UX-014-Varredura-Final-de-Consist-ncia-DIR-1756508100500_1756508100503.txt
  client/src/components/DashboardLayout.tsx
  client/src/components/FeatureFlagExample.tsx
  client/src/components/ProtectedRoute.tsx
  client/src/pages/aceite-atendente.tsx
  client/src/pages/dashboard.tsx
  client/src/pages/login.tsx
  client/src/pages/propostas/nova.tsx
Due: eslint --fix --quiet, prettier --write

Prepare the production environment by verifying critical configurations and security measures
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V6-9-GL-003-Checklist-de-Prontid-o-para-Produ-o--1756508507462_1756508507466.txt
Due: none

Create operational runbooks for system monitoring and incident response
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V7-0-GL-004-Cria-o-de-Runbooks-Operacionais-DI-1756509367192_1756509367196.txt
  docs/runbooks/01-monitoramento-diario.md
  docs/runbooks/02-alerta-performance-degradada.md
  docs/runbooks/03-alerta-job-na-dlq.md
  docs/runbooks/04-procedimento-de-restore.md
Due: prettier --write

Simulate user load to test system stability and performance
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V8-0-TEST-001-Auditoria-de-Carga-e-Capacidade-D-1756518118988_1756518118989.txt
  scripts/load-test/quick-simulation-report.json
  scripts/load-test/quick-simulation.yml
  scripts/load-test/realistic-day-simulation.yml
Due: prettier --write

Add comprehensive data integrity audit for proposal creation
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V8-1-TEST-002-Auditoria-de-Integridade-de-Dados--1756518814973_1756518814974.txt
  scripts/audit-proposal-integrity.sql
Due: none

Initiate forensic audit for user creation data persistence failures
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V9-0-AUDIT-CRUD-001-Diagn-stico-de-Falha-de-Cria-o-de-U-1756660620918_1756660620918.txt
  attached_assets/Pasted-2-Desenvolvedor-Full-Stack-V10-Orquestrador-de-Refinamento-de-IA-Gem-personalizado-Mostrar-raci-1756660615371_1756660615372.txt
Due: none

Update user route to correctly register admin user functionality
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V9-1-FIX-CRUD-001-Remedia-o-da-Cria-o-de-Usu-rio--1756661091908_1756661091909.txt
  server/routes.ts
  server/routes/admin-users.ts
Due: eslint --fix --quiet, prettier --write

Ensure data integrity across all core business entity creation and update processes
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V9-2-AUDIT-CRUD-002-Auditoria-Sist-mica-de-CRUD--1756661677082_1756661677083.txt
Due: none

Fix user management access by updating API routes
  attached_assets/Pasted--version-1-0-0-correlationId-ea71a7f0-f667-4efe-ae42-90345ab3bc3a-method-GET-url-sr-1756662270879_1756662270880.txt
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1756662250683_1756662250684.txt
  server/lib/role-based-access.ts
Due: eslint --fix --quiet, prettier --write

Improve user management by adding role and store filtering
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1756662845218_1756662845219.txt
  attached_assets/Pasted-JWT-DEBUG-Referer-https-874e2dce-5057-49ae-8fb5-21491c9977ba-00-1xresvzm7is3g-janeway-replit-dev-1756662785970_1756662785971.txt
  server/routes/admin/users-refactored.ts
Due: eslint --fix --quiet, prettier --write

Update admin user routes to a more specific path
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1756663069394_1756663069395.txt
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Remove soft delete functionality from user profiles and related queries
  attached_assets/Pasted--statusCode-500-isCritical-false-threshold-1000-PERFORMANCE-SLOW-GET-api-admi-1756663461372_1756663461373.txt
  server/repositories/user.repository.ts
Due: eslint --fix --quiet, prettier --write

Adjust security policies and feature flag behavior for development
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1756731302241_1756731302243.txt
  client/index.html
  server/app.ts
  server/middleware/strictCSP.ts
  server/services/featureFlagService.ts
Due: eslint --fix --quiet, prettier --write

Adjust error reporting and security policies for production environments
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1756731989206_1756731989207.txt
  client/src/main.tsx
  server/app.ts
  server/middleware/strictCSP.ts
Due: eslint --fix --quiet, prettier --write

Soften content security policy for development environments
  attached_assets/Pasted-Error-with-Permissions-Policy-header-Unrecognized-feature-speaker-Understand-this-warning-Error--1756732405768_1756732405769.txt
  server/app.ts
  server/middleware/strictCSP.ts
Due: eslint --fix --quiet, prettier --write

Fix breadcrumb rendering and content security policy issues
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1756732680994_1756732680994.txt
  client/src/components/ui/breadcrumbs.tsx
  server/middleware/strictCSP.ts
Due: eslint --fix --quiet, prettier --write

Path conditions:
  eslint --fix --quiet: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
