Repository vapo643/SimHBSftwerdv: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --quiet",
    "prettier --write"
  ],
  "*.{json,css,md}": [
    "prettier --write"
  ]
}

Add detailed logging for proposal updates and status checks
  attached_assets/Pasted-STATUS-DEBUG-CORRIGIDO-propostaStatus-pendenciado-statusType-string-statusLength-11-expe-1756932058490_1756932058491.txt
  server/modules/proposal/presentation/proposalController.ts
Due: eslint --fix --quiet, prettier --write

Improve debugging for proposal updates by adding detailed logging
  server/routes/propostas/core.ts
Due: eslint --fix --quiet, prettier --write

Fix proposal saving and submission errors by reordering route registration
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Update default analyst ID to a system UUID for proposals
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1756932561040_1756932561042.txt
  server/modules/proposal/application/CreateProposalUseCase.ts
  server/modules/proposal/domain/Proposal.ts
Due: eslint --fix --quiet, prettier --write

Fix routing to correctly handle proposal analysis queue errors
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1756932899917_1756932899923.txt
  server/routes.ts
Due: eslint --fix --quiet, prettier --write

Update proposal status to "pendenciado" for pending items
  server/modules/proposal/application/PendenciarPropostaUseCase.ts
  server/routes/propostas/core.ts
Due: eslint --fix --quiet, prettier --write

Update application to use the correct analysis page component
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Corre-o-de-Rota-Cr-tica-P1-1-Sum-rio-da-Miss-1757008595417_1757008595419.txt
  attached_assets/Pasted-AO-CLICAR-EM-ANALISAR-NENHUM-DADO-APARCE-PARA-VISUALI-O-PARA-O-ANALISTA-2-2-Desenvolvedor-Ful-1757008173935_1757008173937.txt
  client/src/App.tsx
  client/src/pages/analise-manual.tsx
Due: eslint --fix --quiet, prettier --write

Validate successful redirection and data loading for proposal analysis workflow
  attached_assets/Pasted-Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Prova-de-Trabalho-P4-Sum-rio-da-Miss-o-O-Qu-Executar-u-1757008851908_1757008851910.txt
Due: none

Improve data handling and add debugging for loan analysis
  client/src/pages/credito/analise.tsx
Due: eslint --fix --quiet, prettier --write

Improve debugging for loan proposal data structure
  client/src/pages/credito/analise.tsx
Due: eslint --fix --quiet, prettier --write

Improve data handling and validation for loan analysis
  attached_assets/Pasted-Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Auditoria-de-Dados-Nulos-Revis-o-3-Sum-rio-da-Miss-o-Ex-1757009492758_1757009492760.txt
  attached_assets/Pasted-Roadmap-de-Implementa-o-Faseado-Blindagem-do-Fluxo-de-Dados-de-An-lise-P0-N-vel-da-Miss-o-Proto-1757010117007_1757010117010.txt
  client/src/mappers/proposta.mapper.ts
  client/src/pages/credito/analise.tsx
  client/src/types/proposta.types.ts
  server/modules/proposal/presentation/proposalController.ts
  server/schemas/proposalOutput.schema.ts
Due: eslint --fix --quiet, prettier --write

Improve document handling and data normalization for loan analysis
  client/src/pages/credito/analise.tsx
Due: eslint --fix --quiet, prettier --write

Resolve content security policy issues and Vite connection problems
  client/index.html
  client/src/pages/credito/analise.tsx
  tsconfig.json
Due: eslint --fix --quiet, prettier --write

Improve data handling for proposal analysis page to prevent errors
  attached_assets/Pasted-Uncaught-TypeError-Cannot-read-properties-of-undefined-reading-nome-at-AnaliseManualPage--1757011453430_1757011453432.txt
  client/src/pages/credito/analise.tsx
Due: eslint --fix --quiet, prettier --write

Fix blank screen error caused by TypeScript and import issues
  docs/bugs-solved/frontend/2025-04-09-vite-typescript-loading-blank-screen.md
Due: prettier --write

Improve data mapping for loan conditions and financial details
  client/src/pages/credito/analise.tsx
Due: eslint --fix --quiet, prettier --write

Improve proposal data mapping to include nested API response fields
  client/src/pages/credito/analise.tsx
Due: eslint --fix --quiet, prettier --write

Improve loan condition display with new interest rate and TAC formatting
  client/src/pages/credito/analise.tsx
Due: eslint --fix --quiet, prettier --write

Update loan analysis page to use raw API data directly
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1757013408789_1757013408791.txt
  client/src/pages/credito/analise.tsx
Due: eslint --fix --quiet, prettier --write

Update proposal calculations to use correct currency formatting
  server/modules/proposal/presentation/proposalController.ts
Due: eslint --fix --quiet, prettier --write

Update proposal repository to map database fields correctly
  server/modules/proposal/infrastructure/ProposalRepository.ts
Due: eslint --fix --quiet, prettier --write

Add logs for component requests and authentication events
  attached_assets/Pasted-0-correlationId-dc7d4be5-4206-4518-bb2b-b3d4d1123dc2-method-GET-url-src-components-Prop-1757020394577_1757020394580.txt
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1757020452457_1757020452458.txt
Due: none

Update proposal routes to align with domain-driven design principles
  attached_assets/propostas_rows (1)_1757020816016.csv
  server/routes.ts
  server/routes/propostas/core.ts
Due: eslint --fix --quiet, prettier --write

Improve loan proposal data consistency for financial simulations
  attached_assets/Pasted-Com-certeza-Eu-entendo-perfeitamente-a-sua-frustra-o-extremamente-desgastante-lidar-com-um-prob-1757025405278_1757025405282.txt
  server/modules/proposal/infrastructure/ProposalRepository.ts
  server/modules/proposal/presentation/proposalController.ts
  server/routes.ts
  server/routes/propostas/core.ts
Due: eslint --fix --quiet, prettier --write

Update proposal analysis to show all pending proposals
  server/modules/proposal/domain/IProposalRepository.ts
  server/modules/proposal/infrastructure/ProposalRepository.ts
  server/modules/proposal/presentation/proposalController.ts
Due: eslint --fix --quiet, prettier --write

Conduct a comprehensive system audit to identify critical functional fragmentation
  AUDITORIA_FLUXOS_SISTEMICOS_V2.md
  attached_assets/Pasted--EM-FILA-DE-ANALISE-CORRIGIR-OS-CAMPOS-QUE-NAO-ESTAO-ESPELHANDO-CORRETAMENTE-SEGUINTE-Pe-a-a-1757084278656_1757084278657.txt
  attached_assets/Pasted--EM-FILA-DE-ANALISE-CORRIGIR-OS-CAMPOS-QUE-NAO-ESTAO-ESPELHANDO-CORRETAMENTE-SEGUINTE-Pe-a-ao-1757084087460_1757084087461.txt
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-AUDITORIA-DE-ALINHAMENTO-ARQUITETURAL-VIS-O-VS-REA-1757083988488_1757083988490.txt
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-AUDITORIA-DE-ALINHAMENTO-ARQUITETURAL-VIS-O-VS-REA-1757084043586_1757084043586.txt
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-AUDITORIA-DE-ALINHAMENTO-ARQUITETURAL-VIS-O-VS-REA-1757084247894_1757084247894.txt
Due: prettier --write

Document analysis of data discrepancy in the analysis queue
  FLUXO_FILA_ANALISE.md
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-AUDITORIA-DE-FLUXO-DE-TRABALHO-FILA-DE-AN-LISE--1757084483230_1757084483231.txt
Due: prettier --write

Document systemic diagnostic of critical architectural failures in the platform
  DIAGNOSTICO_SISTEMICO_FINAL.md
  attached_assets/Pasted--DIRETIVA-DE-EXECU-O-OPERA-O-A-O-L-QUIDO-AUDITORIA-SIST-MICA-FINAL-PARA-AGENTE-EX-1757087556948_1757087556949.txt
Due: prettier --write

Add comprehensive roadmap and audit findings to project documentation
  ROADMAP_MESTRE_ACO_LIQUIDO.md
  attached_assets/Pasted--ROADMAP-MESTRE-DE-IMPLEMENTA-O-OPERA-O-A-O-L-QUIDO-Data-2025-09-05-Autor-Arquiteto--1757089319453_1757089319455.txt
Due: prettier --write

Unify proposal creation flow and fix analysis queue state
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-P0-1-Unifica-o-de-Pipeline-Sum-rio-da-Mis-1757089672808_1757089672808.txt
  attached_assets/ROADMAP_MESTRE_ACO_LIQUIDO_1757089613281.md
  client/src/pages/credito/fila.tsx
  server/modules/proposal/presentation/proposalController.ts
Due: eslint --fix --quiet, prettier --write

Adapt proposal data to match frontend expectations
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-P0-3-Blindagem-de-Contrato-API-Sum-rio-da--1757090113191_1757090113193.txt
  server/modules/proposal/presentation/proposalController.ts
Due: eslint --fix --quiet, prettier --write

Unify the proposal aggregate and refactor related domain logic
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-P1-1-Unifica-o-de-Agregado-Can-nico-Sum-r-1757090431657_1757090431658.txt
  server/modules/credit/application/ProposalApplicationService.ts
  server/modules/credit/domain/aggregates/Proposal.ts
  server/modules/credit/domain/repositories/IProposalRepository.ts
  server/modules/credit/domain/services/CreditAnalysisService.ts
  server/modules/credit/infrastructure/ProposalRepositoryImpl.ts
Due: eslint --fix --quiet, prettier --write

Unify proposal data handling and update core logic
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-P1-2-Unifica-o-de-Reposit-rio-Sum-rio-da--1757091042212_1757091042219.txt
  server/modules/credit/application/ProposalApplicationService.ts
  server/modules/credit/domain/repositories/IProposalRepository.ts
  server/modules/credit/infrastructure/ProposalRepositoryImpl.ts
Due: eslint --fix --quiet, prettier --write

Improve code structure by adhering to dependency inversion principles
  attached_assets/Pasted-Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-P1-3-Invers-o-de-Depend-ncia-Sum-rio-da-Miss-o-O-Qu-R-1757091503951_1757091503953.txt
  server/modules/credit/presentation/ProposalController.ts
  server/modules/dependencies.ts
  server/modules/proposal/presentation/proposalController.ts
Due: eslint --fix --quiet, prettier --write

Add use case to submit proposals for analysis and fix workflow
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-P1-4-Funda-o-do-Workflow-Sum-rio-da-Miss--1757092111257_1757092111260.txt
  server/modules/dependencies.ts
  server/modules/proposal/application/SubmitForAnalysisUseCase.ts
Due: eslint --fix --quiet, prettier --write

Refactor proposal logic to centralize financial calculations within the domain
  PLANO_DE_ENRIQUECIMENTO_DOMINIO.md
  attached_assets/Pasted-Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-P2-1-Enriquecimento-de-Dom-nio-Sum-rio-da-Miss-o-O-Qu--1757092393846_1757092393847.txt
Due: prettier --write

Centralize financial calculation logic within the proposal domain
  attached_assets/Pasted-Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-P2-1-1-Repatria-o-de-L-gica-de-Neg-cio-Sum-rio-da-Miss-o-1757092780362_1757092780364.txt
  server/modules/proposal/domain/Proposal.ts
  server/modules/proposal/domain/__tests__/Proposal.calculateMonthlyPayment.test.ts
  server/modules/proposal/infrastructure/ProposalRepository.ts
  server/modules/proposal/presentation/proposalController.ts
Due: eslint --fix --quiet, prettier --write

Standardize proposal status for improved system consistency
  attached_assets/Pasted-Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-P2-2-Sincroniza-o-da-M-quina-de-Estados-Sum-rio-da-Miss--1757093408411_1757093408415.txt
  server/modules/proposal/presentation/proposalController.ts
  server/services/statusFsmService.ts
Due: eslint --fix --quiet, prettier --write

Migrate proposal logic to DDD and remove legacy routes
  attached_assets/Pasted-Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-P2-3-Unifica-o-de-Pipeline-Definitiva-Sum-rio-da-Miss-o--1757094077797_1757094077803.txt
  server/modules/proposal/presentation/proposalController.ts
  server/routes.ts
  server/routes/propostas/core.ts
Due: eslint --fix --quiet, prettier --write

Implement centralized error handling for increased application resilience
  attached_assets/Pasted-Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-P2-4-1-Funda-o-da-Resili-ncia-Error-Handling-Sum-rio-d-1757094800630_1757094800633.txt
  server/app.ts
  server/middleware/errorHandler.ts
  server/modules/proposal/presentation/proposalController.ts
Due: eslint --fix --quiet, prettier --write
