Repository vapo643/SimHBSftwerdv: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, prettier --write

Add realistic synthetic data generation for testing environments
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-ID-da-Miss-o-OSD-F2-2-1-2-2-Nome-da-Miss--1757439525816_1757439525820.txt
  package-lock.json
  package.json
Due: prettier --write

Add functionality to seed business scenarios with test data
  scripts/seeding/business-scenarios.js
  scripts/seeding/environments/staging-config.js
  scripts/seeding/generators/clients.js
  scripts/seeding/generators/profiles.js
  scripts/seeding/generators/proposals.js
  scripts/seeding/utils/database-cleaner.js
Due: eslint --fix --quiet, prettier --write

Add database seeding scripts for development and staging environments
  scripts/seed-database.js
  scripts/seed-dev.sh
  scripts/seed-staging.sh
  scripts/seeding/business-scenarios.js
  scripts/seeding/index.js
Due: eslint --fix --quiet, prettier --write

Establish comprehensive disaster recovery and security auditing procedures
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-ID-da-Miss-o-OSD-F3-3-1-3-4-Nome-da-Miss--1757440253415_1757440253419.txt
  docs/runbooks/RUNBOOK_MIGRATION_ROLLBACK.md
  scripts/audit/environment-manifest.json
Due: prettier --write

Add scripts to audit environment compliance and security
  scripts/audit-env-prod.sh
  scripts/audit-env-staging.sh
  scripts/audit/audit-environment.js
Due: eslint --fix --quiet, prettier --write

Add system for automated security policy compliance audits
  scripts/audit/README.md
Due: prettier --write

Update seeding scripts to connect to the correct database
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-de-Auditoria-Padr-o-PACN-V1-0-ID-da-Miss-o-OSD-F1-1757441002799_1757441002801.txt
  scripts/seeding/business-scenarios.js
  scripts/seeding/utils/database-cleaner.js
Due: eslint --fix --quiet, prettier --write

Investigate JWT authentication issues causing unauthorized access errors
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-EMERG-NCIA-DIAGN-STICO-ID-da-Miss-o-PGI-AUTH-DI-1757441653096_1757441653096.txt
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1757441556882_1757441556886.txt
Due: none

Increase the visibility of the logo on the login page
  client/src/pages/login.tsx
Due: eslint --fix --quiet, prettier --write

Update authentication to use correct environment-specific JWT secrets
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-EMERG-NCIA-CORRE-O-ID-da-Miss-o-PGI-AUTH-FIX-0-1757441954189_1757441954193.txt
  server/lib/jwt-auth-middleware.ts
Due: eslint --fix --quiet, prettier --write

Update Supabase client to use development credentials
  server/lib/supabase.ts
Due: eslint --fix --quiet, prettier --write

Improve JWT secret lookup for better authentication flexibility
  server/lib/jwt-auth-middleware.ts
Due: eslint --fix --quiet, prettier --write

Improve authentication handling to address expired tokens
  attached_assets/Pasted-Document-already-loaded-running-initialization-immediately-content-script-js-4-Attempting-to-initia-1757442423390_1757442423394.txt
Due: none

Improve authentication by adding development-specific environment variables
  server/lib/jwt-auth-middleware.ts
  server/lib/supabase.ts
Due: eslint --fix --quiet, prettier --write

Update authentication to use development credentials when available
  client/src/lib/auth-config.ts
Due: eslint --fix --quiet, prettier --write

Restored to '56003c4b7af4121e25c9d0d9809f1f3f707099ae'
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-EMERG-NCIA-CORRE-O-ID-da-Miss-o-PGI-AUTH-FIX-0-1757441954189_1757441954193.txt
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-EMERG-NCIA-DIAGN-STICO-ID-da-Miss-o-PGI-AUTH-DI-1757441653096_1757441653096.txt
  attached_assets/Pasted-Document-already-loaded-running-initialization-immediately-content-script-js-4-Attempting-to-initia-1757442423390_1757442423394.txt
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1757441556882_1757441556886.txt
  client/src/lib/auth-config.ts
  client/src/pages/login.tsx
  server/lib/jwt-auth-middleware.ts
  server/lib/supabase.ts
Due: eslint --fix --quiet, prettier --write

Add graceful degradation for Redis connection failures in authentication
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-N-VEL-DE-CRISE-EXECU-O-IMEDIATA-ID-da-Miss-o-P-1757443492600_1757443492604.txt
  server/lib/jwt-auth-middleware.ts
Due: eslint --fix --quiet, prettier --write

Improve robustness of user authentication and profile caching
  server/lib/jwt-auth-middleware.ts
Due: eslint --fix --quiet, prettier --write

Add diagnostic script to check development environment connectivity
  attached_assets/Pasted-Comando-recebido-A-estabiliza-o-da-produ-o-foi-a-nossa-vit-ria-t-tica-A-Opera-o-F-nix-cumpriu-1757446123075_1757446123083.txt
  attached_assets/Pasted-no-caso-foi-um-sucesso-na-produ-o-o-que-corrigimosagora-foi-o-ambiente-de-produ-o-e-ja-establizou-1757445306618_1757445306620.txt
  scripts/diagnostics/check-dev-env.ts
Due: eslint --fix --quiet, prettier --write

Separate development and production Supabase credentials for clarity
  scripts/diagnostics/check-dev-env.ts
  server/lib/supabase.ts
Due: eslint --fix --quiet, prettier --write

Improve Supabase connection check for development environments
  scripts/diagnostics/check-dev-env.ts
Due: eslint --fix --quiet, prettier --write

Improve Supabase configuration for development environments
  attached_assets/Pasted--vite-failed-to-connect-to-websocket-your-current-setup-browser-874e2dce-5057-49ae-8fb5-21491-1757446973752_1757446973753.txt
  server/lib/supabase.ts
Due: eslint --fix --quiet, prettier --write

Improve security and fix proposal creation flow
  attached_assets/Pasted-Entendido-ALERTA-VERMELHO-Falha-cr-tica-em-produ-o-Vazamento-de-dados-e-quebra-de-fluxo-de-neg-c-1757448288480_1757448288483.txt
  attached_assets/Pasted-PROMPT-1-de-2-Auditoria-de-Seguran-a-RLS-Passo-A-1-Markdown-Pacote-de-Ativa-o-de-Miss-o-PA-1757448415607_1757448415609.txt
  server/middleware/multi-tenant.ts
Due: eslint --fix --quiet, prettier --write

Configure automatic production environment detection based on credentials
  server/config/environment.ts
  server/lib/logger.ts
  server/lib/sentry.ts
  server/services/featureFlagService.ts
Due: eslint --fix --quiet, prettier --write

Prepare production environment by creating data seeding scripts
  attached_assets/Pasted-ROMPT-1-de-2-Valida-o-P-s-Corre-o-de-Seguran-a-Passo-1-Ferramenta-Sniper-Assistente-Replit--1757449376948_1757449376951.txt
Due: none

Initiate forensic audit for backend and frontend error handling
  attached_assets/Pasted-PROMPT-1-de-2-Auditoria-de-L-gica-de-Backend-Passo-1-Markdown-Pacote-de-Ativa-o-de-Miss-o--1757450105821_1757450105822.txt
  attached_assets/Pasted-entrando-no-site-ofcial-ja-em-deploy-lno-login-do-ramon-barbosa-eellevepromotora-com-br-ele-prim-1757449990647_1757449990651.txt
Due: none

Improve document generation platform by fixing incorrect HTTP responses
  attached_assets/Pasted-Roadmap-de-Implementa-o-Faseado-EM-EXECU-O-Passo-1-Backend-P0-Blindagem-do-Contrato-da-1757450502928_1757450502930.txt
  server/routes/cliente-routes.ts
Due: eslint --fix --quiet, prettier --write

Improve error handling for client data searches
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Implementar-tratamento-1757451196708_1757451196710.txt
  client/src/components/propostas/ClientDataStep.tsx
Due: eslint --fix --quiet, prettier --write

Audit user profile display to fix incorrect role assignments
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-Auditar-os-componentes-de-la-1757451606513_1757451606517.txt
Due: none

Display user role in the profile dropdown instead of duplicate email
  attached_assets/Pasted--Pacote-de-Ativa-o-de-Miss-o-PAM-V1-0-Sum-rio-da-Miss-o-O-Qu-Corrigir-um-bug-de-ren-1757452033745_1757452033747.txt
  client/src/components/DashboardLayout.tsx
Due: eslint --fix --quiet, prettier --write

Increase logo size for better visibility on the login page
  client/src/pages/login.tsx
Due: eslint --fix --quiet, prettier --write

Path conditions:
  eslint --fix --quiet: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md})
